.archive{ 
    .author {
        background-color: #F5F5F5;
        padding: 60px 0px 50px 0px;
        margin-bottom: 60px;

        .author-content {
            display: flex;
            flex-direction: column;
    
            .author-social-links a {
                color: var(--primary);
                margin: 0 20% 0 0;
    
                &:hover {
                    color: var(--secondary);
                }
            }
        }
    
        img {
            border-radius: 50%;
            height: 100% !important;
            width: auto !important; 
        }
        .author-main-content {
            margin: auto;
            max-width: 90%;
            width: 1200px;
            display: flex;

            @include tablet{
                display: block;
                text-align: center;
            }
        }
    }
}

.archive.author {

    article { 
        .cat-links {

            span.custom-separator {
                padding: 0px 5px;
            }
        }
    }

    .about-the-author-section{
        margin-bottom: 60px;

        h4 {
            color: #555D66;
            margin-top: 0px;
        }
    }

    #page{
        @include mobile{
            margin-top: -50px;
        }
    }

    .decoration-square,
    .decoration-left,
    .decoration-eye,
    .decoration-custom {
        h1.page-title.article-section-title {
            display: flex;
            font-size: size(18);

            @include tablet {
                justify-content: center;
            }
        }
    }
    .decoration-top{
        h1.page-title.article-section-title {
            font-size: size(18);

            @include mobile {
                justify-content: center;
            }
        }
    }

    img.avatar-default {
        display: none !important;
    }

    /*
    &:not(.paged) article.has-post-thumbnail:first-of-type .post-thumbnail{
        @include desktop{
            flex-basis: 26%;
        }

    } */

    article.has-post-thumbnail{
        @include mobile{
            display: flex;
        }

        .post-thumbnail{
            flex-basis: 35%;
            max-width: 35%;
        }

        .entry-container{
            @include mobile{
                flex-basis: 65%;
            }
        }
    }

    .archive.author .page-header {
        margin: 0;
        background-color: #F5F5F5;
        padding: 60px 0px 50px 0px;
    }
    .site-content {
        margin-top: 0px;
    }
    
    .author-social-links {
    
        @include tablet{
            text-align: center;
            display: inline-flex;
        }

        li {
            margin-right: 40px;
            
            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .page-header .avatar {
        margin-right: 2.1875rem !important;

        @include tablet{
            margin-right: 0px !important;
            text-align: center;
            display: inline-flex;
        }
    }

    header.page-header.author {
        margin-bottom: 50px;
    }

}

.author-page-sidebar {
    /* desktop / tablet*/
    @media only screen and (min-width: 782px) {
        width: 25%;
    }

    /* mobile */
    @media only screen and (max-width: 781px) {
        .about-the-author-section{
            display: none;
        }
    }
}

.about-the-author-section.top-author {
    /* desktop / tablet */
    @media only screen and (min-width: 782px) {
        display: none
    }

    /* mobile */
    @media only screen and (max-width: 781px) {
        display: block;
    }
}

.author-most-read {
    margin-top: 20%;
    background-color: #F5F5F5;
    .header {
        background-color: var(--primary);
        border-radius: 10px 10px 0 0;
        p {
            padding: 20px 30px;
            color: white;
            text-align: center;
            margin-bottom: 0px;
            letter-spacing: 0;
            line-height: 19px;
            font-weight: bold;
        }
    }

    .posts {
        padding: 30px;

        p {
            font-size: size(16);
            font-weight: bold;
        }
    }
}



.post-container-author-page {
    display: flex;
    flex-direction: row;
    max-width: -webkit-fill-available;
    width: 100%;
}

.mobile-author-label{
    display: inherit;
    text-align: center;
    @include desktop{
        display: none !important;
    }
}

.desktop-author-label{
    display: block;
    @include tablet{
        display: none !important;
    }
}

.dark-theme {
    .page-header.author {
        background-color: rgba(255,255,255,0.05);
        
        .author-content {
            h1 {
                color: white;
            }

            .author-social-links {
                li {
                    a {
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

   /* .author-page-sidebar {*/
        .about-the-author-section {
            p {
                color: white;
            }
        }
  /*  }*/


}