.archive,
.blog {
  .page-header {
    margin: 0;
  }

  &.has-sidebar #primary {
    // flex-direction: row-reverse;
  }

  .decoration-none {
    .acent-header:not(.widget-title):before,
    .article-section-title:before,
    .cat-links:before,
    .page-title:before,
    .site-breadcrumb .wrapper > span::before {
      width: 0px;
      margin: 0px;
      content: unset;
    }
  }

  .entry-title {
    font-size: size(24) !important;

    @include mobile {
      font-size: size(16) !important;
    }
  }

  #page {
    @include mobile {
      margin-top: -50px;
    }

    @include tablet {
      margin-top: 0px;
    }
  }

  .decoration-square,
  .decoration-left,
  .decoration-eye,
  .decoration-custom {
    h1.page-title.article-section-title {
      display: flex;
    }
  }

  .decoration-square {
    h1.page-title.article-section-title::before {
      margin-top: size(2);
    }
  }

  .decoration-eye {
    h1.page-title.article-section-title::before {
      margin-top: size(1);
    }
  }

  .decoration-top {
    .page-description {
      display: inline;
    }

    @include mobile {
      h1.page-title.article-section-title {
        position: relative;
        display: flex;
      }

      h1.page-title.article-section-title::before {
        position: absolute;
        top: size(-10);
      }
    }
  }

  article {
    &.entry {
      margin-top: 30px;
    }

    .entry-meta {
      font-size: size(14);

      @include tablet {
        margin-bottom: 0px;
      }
    }

    .cat-links {
      display: block;
      color: #555d66;
      font-size: size(18);

      &::before {
        display: none;
      }

      @include mobile {
        font-size: size(16) !important;
      }
    }

    .entry-content {
      p {
        font-size: size(16);
        letter-spacing: 0;
        line-height: 22px;

        @include mobile {
          display: none;
        }
      }
    }
  }

  #main {
    @include desktop {
      width: 65%;
    }
  }

  .post-thumbnail {
    @include mobile {
      margin-right: 10px;
      width: 40%;
    }
  }

  .category-header .page-subtitle {
    display: none;
  }

  @include tablet {
    .author .author-main-content {
      display: block;
      text-align: center;
      padding-top: size(30);
    }
  }
}

.archive:not(.paged),
.blog:not(.paged) {
  .custom-archive {
    article {
      &:first-of-type {
        display: block;

        .entry-content {
          p {
            @include mobile {
              display: block;
            }
          }
        }

        .entry-title {
          font-size: size(28) !important;

          @include mobile {
            font-size: size(16) !important;
          }
        }
      }

      &.has-post-thumbnail:first-of-type .post-thumbnail {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  article.has-post-thumbnail:first-of-type .entry-header {
    @include desktop {
      margin: 0;
    }
  }

  article.has-post-thumbnail:last-of-type,
  article:last-of-type {
    margin-bottom: 30px;
  }
}

/* BLOG - from styles.css */
.blog article .cat-links span.custom-separator {
  padding: 0px 5px;
}

/* ARCHIVE EXCEPT AUTHOR */
.custom-archive {
  .page-header {
    @include mobile {
      margin-top: 30px;
    }

    margin-bottom: 40px;

    .page-subtitle,
    .page-description {
      font-size: size(18);
      color: #555d66;
    }

    .category-header {
      .page-description {
        display: inline;
        text-transform: uppercase;
      }
    }
  }

  span.author.vcard {
    background: transparent;
    padding: 0px;
    margin-bottom: 0px;
  }

  article {
    &:first-of-type {
      width: 100%;
      margin-bottom: 40px;

      .entry-meta {
        @include tablet {
          margin-bottom: 0.5rem;
        }
      }
    }

    .entry-container {
      h2.entry-title {
        margin-bottom: 10px;

        @include mobile {
          margin-bottom: 5px;
        }
      }

      .entry-meta .byline {
        @include mobile {
          display: none;
        }
      }
    }
  }

  article.has-post-thumbnail {
    @include mobile {
      display: flex;
    }

    .post-thumbnail {
      flex-basis: 35%;

      @include desktop {
        max-width: 35%;
      }

      &:first-of-type {
        width: 100%;
      }
    }

    .entry-container {
      @include mobile {
        flex-basis: 65%;
      }
    }
  }
}

.dark-theme {
  &.archive {
    .page-title .page-description {
      color: white;
    }

    .cat-links {
      a {
        &:hover {
          opacity: 0.7;
          color: #767676;
        }
      }
    }

    .entry-meta .byline {
      a {
        &:hover {
          opacity: 0.7;
          color: #767676;
        }
      }
    }
  }
}

/* from styles.css */
@media only screen and (min-width: 782px) {
  .archive .has-post-thumbnail,
  .blog .has-post-thumbnail,
  .search .has-post-thumbnail {
    .post-thumbnail {
      max-width: 100%;
      margin: 0 2em 0 0;
    }

    .entry-container {
      flex-basis: 65%;
    }
  }
}
