.archive {
  .main-title {
    text-transform: uppercase;
    margin-bottom: size(40);
  }

  .column {
    width: 100%;
    .filtro-posts {
      .categories {
        margin-bottom: size(25);
        font-family: var(--special-heading-font);
        font-size: size(20);
        font-weight: normal;

        @include mobile {
          display: grid;
          grid-template-columns: min-content auto;
          grid-gap: size(20) size(30); 

          a {
            text-align: left;
            width: fit-content;
            height: fit-content;
            margin-bottom: auto;
            margin-top: auto;
          }
        }

        a {
          color: #0B0B07;
          margin-right: 10px;
          padding: 2px 12px;

          &:hover {
            cursor: pointer;
          }

          &.active {
            background: var(--secondary);
            border-radius: 5px;
            color: white;
          }
        }
      }
    }

    .posts-list {
      .loading-posts {
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
          width: fit-content;
          margin: auto;
        }

        span {
          margin-top: size(10);
        }
      }
    }

    .content-options {
      border-bottom: 1px solid #DDDDDD;
      padding-bottom: size(20);
      margin-bottom: size(50);

      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


      .posts-quantity {
        color: #0A0A0A;
        @include mobile {
            margin-bottom: size(20);
        }
      }

      .filter-options {
        color: rgba(10, 10, 10, 0.5);
        font-size: size(16);
        letter-spacing: 0;
        text-align: right;
        display: flex;
        position: relative;
        margin-right: size(15);

        select {
          background: none;
          border: none;
          color: var(--primary);

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: 0;
          }
        }
      }
    }
  }

  .page-title {
    margin-bottom: 40px;
    font-size: size(18);
  }

  .author.vcard {
    background: none;
  }

  .decoration-none {
    .acent-header:not(.widget-title):before,
    .article-section-title:before,
    .cat-links:before,
    .page-title:before,
    .site-breadcrumb .wrapper > span::before {
      width: 0px;
      margin: 0px;
      content: unset;
    }
  }

  .main-search {
    @media only screen and (min-width: 782px) {
      width: 65%;
    }

    .page-header {
      h1.page-title {
        font-size: size(40);
        color: #0b0b07;
      }
    }
    .page-header,
    main#main {
      width: 100%;
    }

    main#main {
      .search-results, .cat-links .separator {
        margin-right: 5px;
      }

      @media only screen and (min-width: 782px) {
        .search-results {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: size(20);
        }
      }
      span.custom-separator {
        margin: 0 5px;
        color: var(--secondary);
      }

      article {
        &.entry {
          margin-top: 30px;
          
          .cat-links {
            font-size: 0.8em;

            a {
              font-size: size(14);
              font-weight: 500;
              color: var(--secondary);
  
              @include mobile {
                font-size: size(14) !important;
              }
            }
          }

          .entry-title {
            font-size: size(24) !important;
            line-height: 30px;

            @include mobile {
              font-size: size(16) !important;
            }
          }

          .entry-meta {
            font-family: var(--primary-font);
            font-size: size(14);
          }
        }

        .entry-content p {
          font-size: size(16);
          letter-spacing: 0;
          line-height: 22px;

          @include tablet {
            display: block;
          }
        }

        &.has-post-thumbnail {
          display: block;
          /* @include mobile {
                display: flex;
              }*/

          .post-thumbnail {
            width: 100%;
            flex-basis: 35%;
            margin-bottom: 15px;
            @include mobile {
              margin-right: 10px;
            }
          }

          .entry-container {
            @include mobile {
              flex-basis: 65%;
            }

            .entry-title {
              @include mobile {
                font-size: size(16) !important;
              }
            }
          }
        }
      }
    }
  }

  aside.search-page-sidebar {
    img {
      width: 100%;
    }
    @media only screen and (min-width: 782px) {
      width: 30%;
    }
  }

  &.has-sidebar #primary {
    @media only screen and (min-width: 782px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // flex-direction: row-reverse;
    }
  }

  .pre-itens-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 34px;
    margin-bottom: 30px;

    .found-itens-quantity {
      color: #0a0a0a;
      font-size: size(16);
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
    }

    .sorting-method {
      color: rgba(10, 10, 10, 0.5);
      font-size: size(16);
      letter-spacing: 0;
      line-height: 20px;
      text-align: right;
      display: flex;
      position: relative;
      margin-right: 15px;

      button.current {
        padding: 0;
        color: var(--primary);
        font-size: size(16);
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: 5px;
        position: relative;

        &:after {
          position: absolute;
          top: 7px;
          right: -20px;
          @include triangle(bottom, 6px, 6px, var(--primary));
        }
      }

      .options {
        display: none;

        &.active {
          display: block;
          position: absolute;
          top: 30px;
          right: 0;
        }

        button.option {
          padding: 0;
          color: var(--primary);
          font-size: size(16);
          font-weight: bold;
          letter-spacing: 0;
          line-height: 20px;
          margin-left: 5px;
          position: relative;
        }
      }
    }
  }
}

.dark-theme {
  .column {
    .main-title {
      color: white;
    }

    .filtro-posts .categories a {
      color: white;
    }

    .content-options {
      color: white;

      .posts-quantity, .filter-options {
        color: white;
      }
    }

    .loading-posts {
      color: white;
    }
  }



  &.search {
    form.search-form .search-input-wrapper input[type="search"],
    .found-itens-quantity,
    .sorting-method {
      color: white;
    }

    form.search-form .filters--item input {
      color: white;
    }

    .selectric {
      span {
        color: white;
      }
    }

    .no-results.not-found {
      p {
        color: white;
      }
    }

    form.search-form .filters--item .select2-selection__choice {
      background-color: var(--primary-opacity-1);
    }

    .cat-links {

      a {
        &:hover {
          opacity: 0.7;
          color: #767676;
        }
      }
    }

    .entry-meta .byline {
      a {
        &:hover {
          opacity: 0.7;
          color: #767676;
        }
      }
    }
  }
}



.resources-template-default{
  .related-posts {
    display: none;
  }
}