.home, .page {

  /*INI STW's tweets*/
  &__block-sidebar {
    margin-bottom: 32px !important;

    &.has-background {
      padding: 0px;
      border-radius: 10px 10px 0 0;
      margin-top: 0px !important;
    }

    .wp-block-group {
      padding: 0px 20px 20px;
      margin-top: 0px !important;
    }

    p {
      margin-bottom: 0px !important;
      border-radius: 9px 9px 0 0;
    }
  }

  &__twitter-section {
    &-title {
      font-family: var(--special-heading-font);
      strong::after {
        content: "\f099";
        font-family: "Font Awesome 5 Brands";
        font-weight: 600;
        margin-left: 10px;
        color: #4ea5eb;
      }
    }

    &-btn {
      font-size: size(21);
      width: 100%;
      margin-bottom: 0px !important;

      a {
        width: 100%;
        text-align: center;
        padding: 20px !important;
      }
    }
  }
  /*END*/

  /*INI STW's social networks*/
  &__bkg-social-networks {
    @include mobile {
      display: none;
    }
    background-color: #f5f5f5;
    padding: 30px 10px;
    margin-left: 0px;
    width: auto;

    a {
      &:hover {
        font-weight: normal;
      }
    }
    .icons {
      font-size: 40px;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      color: #fff;
      text-align: center;
      padding: 20px;
      margin: 10px;

      &--twitter {
        background-color: #4ea5eb;
      }

      &--facebook {
        background-color: #0e66ac;
      }
    }

    .wp-block-column {
      h2,
      h3,
      p {
        font-family: var(--special-heading-font);
        margin: 0px;
      }
    }
  }
  /*END*/

  /*INI STW's ad banner */
  &__ad {
    .wp-block-column {
      h2,
      h3,
      h4,
      p {
        font-family: var(--special-heading-font);
        margin: 0px;
      }

      h4 {
        font-weight: normal;
      }
    }
  }
  /*END*/

  /*INI STW's map banner*/
  &__maps-section {
    .wp-block-cover {
      padding: 0px;
      .wp-block-cover__inner-container {
        align-self: flex-end;
        .wp-block-group {
          position: absolute;
          width: 100%;
          top: 0;
          .wp-block-group__inner-container {
            text-align: center;
            h2,
            h3,
            h4,
            p {
              font-family: var(--special-heading-font);
              margin: 0px;
            }

            h2 {
              @include mobile {
                &::after {
                  content: "\f279";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 400;
                  margin-left: 10px;
                  font-size: 50px;
                }
              }
            }

            h4 {
              font-weight: normal;
            }

            .map-icon__column {
              @include mobile {
                display: none;
              }

              .icon-map {
                font-size: 50px;
              }
            }
          }
        }
      }

      @include mobile{
        .wp-block-button  {
          padding: 0px 10px;
        }
        
        .wp-block-button a {
          width: 100%;
        }
      }
    }
  }
  /*END*/

  /*INI STW's donate banner*/
  &__donate{
    @include mobile{
      .donate-icon__column {
          display: none;
      }

      .home__donate-btn-column .wp-block-buttons, .home__donate-btn-column .wp-block-button, .home__donate-btn-column .wp-block-button a {
        width: 100%;
     }

     .wp-block-column h2:after{
        content: "\f024";
        font-family: Font Awesome\ 5 Free;
        font-weight: 400;
        margin-left: 10px;
        font-size: 50px;
      }
       
    }
  }
  /*END*/


  &__align-items {
    align-items: flex-end;
  }

  /* Link 'see more posts'*/
  &__see-more-posts {
    margin-top: 10px !important;

    a {
      opacity: 0.5;
      color: #0b0b07;
      font-weight: bold;
      font-family: var(--special-heading-font);
    }
  }

  .has-more-button button {
    background: transparent;
    color: #555d66;
    font-size: size(14) !important;
    width: 100%;
    border-top: 2px solid #dddddd;
  }

  a.external-link {
    color: var(--primary);
    padding-right: 15px;
  }

  .article-section-title {
    font-size: 18px;
  }

  /*Ekuatorial and Pasifika
    desktop: 1 column with two posts
    mobile: 2 column 50% 50%
    */
  .newspack-mobile-two-columns {
    @include tablet {
      margin-bottom: 15px;

      > div {
        display: flex;
      }

      article {
        width: 50%;

        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
  }

  /*Ekuatorial
    desktop: 1 column: photo + text inline
    mobile: 1 column: photo / text above
    */
  .newspack-mobile-one-column {
    .wpnbha.image-alignleft .post-has-image .post-thumbnail {
      flex-basis: 45%;
    }

    @include tablet {
      article {
        display: block !important;

        .entry-wrapper p {
          display: none;
        }
      }
    }
  }

  .newspack-mobile-no-excerpt {
    @include tablet {
      article {
        .entry-wrapper p {
          display: none;
        }
      }
    }
  }

  /* HOMEPAGE Post block */
  .wp-block-newspack-blocks-homepage-articles {
    /* Main highlight InfoAmazonia*/
    &.image-alignbehind {
      &.alignfull {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;

        figure.post-thumbnail {
          &:after {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              #000000 100%
            );
          }
          a {
            padding-top: unset;
            overflow: unset;
            position: unset;
            display: unset;
            height: unset;
          }
        }

        .entry-wrapper {
          max-width: 90%;
          width: 1200px;
          margin: 30px auto;
          padding: 0px;

          .cat-links {
            opacity: 0.6;
            color: #ffffff;
            font-size: size(18);
          }
        }
      }
    }

    &.wpnbha .cat-links {
      font-size: size(14);
      a {
        color: var(--secondary);
      }
    }

    &.ts-2,
    &.ts-3,
    &.ts-4,
    &.ts-5,
    &.ts-7 {
      .entry-meta {
        font-size: size(14);
      }

      .entry-wrapper {
        p {
          font-size: size(16);
          line-height: 22px;
        }
      }
    }

    /*block font-size: 2*/
    &.ts-2 article {
      /*@include desktop{*/
      .entry-title {
        font-size: size(16);
      }

      /*}*/
    }

    /*block font-size: 3*/
    &.ts-3 article {
      @include desktop {
        .entry-title {
          font-size: size(18);
        }
      }
    }

    /*block font-size: 4*/
    &.ts-4 article {
      @include desktop {
        .entry-title {
          font-size: size(24);
        }
      }
    }

    /*block font-size: 5*/
    &.ts-5 article {
      @include desktop {
        .entry-title {
          font-size: size(28);
        }
      }
    }

    /*block font-size: 7*/
    &.ts-7 article {
      @include desktop {
        .entry-title {
          font-size: size(50);
        }
      }
    }
  }

  .wpnbha img.avatar {
    border-radius: 50px;
  }

  .wp-block-columns {
    margin-bottom: 0px;

    .button__fullwidth-link a {
      width: 100%;
    }
  }

  /* margin for image gallery in EKuatorial's home */
  .wp-block-group.home__block-sidebar {
    .wp-block-gallery {
      margin-bottom: 0px;
    }

    .wp-block-button.button__fullwidth-link {
      margin-top: 5px;
    }
  }
}

hr {
  margin: 0px !important;
}

/*STW - buttons with diagonal side */
.entry {
  .home__main-buttons {
    @include mobile {
      display: none;
    }

    .wp-block-button {
      &.rotate-btn {
        background: var(--primary);
        border-radius: 5px;

        &:hover {
          background: var(--primary-darker-15);
        }

        a.has-primary-background-color {
          font-size: size(26);
          font-weight: bold;
          letter-spacing: 4px;
          background: transparent;
          text-align: center;
          width: 100%;

          &:hover {
            background: transparent;
          }
        }

        &--middle {
          transform: skewX(-20deg);

          a.has-primary-background-color {
            transform: skewX(20deg);
            display: inline-block;
          }
        }

        &--right {
          transform-origin: right;
          transform: perspective(10px) rotateX(0.6deg);

          a.has-primary-background-color {
            transform-origin: right;
            transform: perspective(10px) rotateX(-0.6deg);
          }
        }
        &--left {
          transform-origin: left;
          transform: perspective(10px) rotateX(-0.6deg);

          a.has-primary-background-color {
            transform-origin: left;
            transform: perspective(10px) rotateX(0.6deg);
          }
        }
      }
    }
  }
}

.dark-theme {
  transition: all 0.2s ease-in-out;
  background-color: #191e23;

  .home__block-sidebar.has-background {
    .wp-block-group {
      background-color: #23282d;
    }
  }

  .wp-block-cover.has-background-dim.home__newsletter-bkg {
    // overwrite inline style css
    background-color: var(--primary-opacity-1) !important;

    p.has-text-color.has-secondary-color {
      color: white;
    }
  }

  .wp-block-cover.has-background-dim.home__readmore-bkg {
    // overwrite inline style css
    background-color: var(--primary-opacity-1) !important;

    p.has-text-color.has-secondary-color {
      color: white;
    }
  }

  .home__twitter-section-title {
    background-color:#23282d !important;
    color: white !important;
  }

  .site-main article {
    .entry-content {
      .home__bkg-social-networks {
        p {
          color: #111;
        }
      }
    }
  }
}
