.page-template {
    header.entry-header {
        display: none;
    }

    .site-content {
        @include desktop{
            margin-top: 0px;
        }


        @include tablet{
            margin-top: 0px;
        }
    }

    .entry .entry-content .wp-block-cover:first-child {
        margin-top: 0px;
    }

    .special-content{
        padding-bottom: 0px;
        .wp-block-cover__inner-container{
            align-self: flex-end;
        }

        &__border-radius{
            border-radius: 5px 5px 0 0;
            opacity: 0.9;
        }


        &__all-border-radius{
            border-radius: 5px;
            opacity: 0.9;
        }

        &__excerpt{
                font-weight: normal;
                line-height: 30px;
        }
    }
}

.page {

    .site-content {
        @include desktop{
            margin-top: 0px;
        }


        @include tablet{
            margin-top: 0px;
        }
    }

    .entry .entry-content .wp-block-cover:first-child {
        margin-top: 0px;
    }

    .special-content{
        padding-bottom: 0px;
        .wp-block-cover__inner-container{
            align-self: flex-end;
        }

        &__border-radius{
            border-radius: 5px 5px 0 0;
            opacity: 0.9;
        }

        &__excerpt{
                font-weight: normal;
                line-height: 30px;
        }
    }
}


.dark-theme {
    &.page:not(.home) {
        h1, h2, h3, h4, h5 {
            color: white;
        }

        #content {
            .entry-content {
                a {
                    color: white;
                    opacity: 0.6;
                }
                .wp-block-cover .wp-block-group.has-background {
                    p, h1, h2, h3, h4, h5, h6 {
                        color: #111;
                    }
                }
            }
        }
    }
}