.search:not(.search-no-results) {
    .main-search {
        main#main {
            @media only screen and (min-width: 782px) {
                .search-results {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: size(20);
                }
            }
        }
    }
}

.search {
    .page-title {
        margin-bottom: 40px;
        font-size: size(18);
    }

    .search-results {
        .no-results.not-found h1.page-title {
            font-size: 20px;
            font-family: var(----primary-font);
        }
    }

    .decoration-none {

        .acent-header:not(.widget-title):before,
        .article-section-title:before,
        .cat-links:before,
        .page-title:before,
        .site-breadcrumb .wrapper>span::before {
            width: 0px;
            margin: 0px;
            content: unset;
        }
    }

    .main-search {
        @media only screen and (min-width: 782px) {
            width: 65%;
        }

        .page-header {
            h1.page-title {
                font-size: size(40);
                color: #0b0b07;
            }
        }

        .page-header,
        main#main {
            width: 100%;
        }

        main#main {
            span.custom-separator {
                margin: 0 5px;
                color: var(--secondary);
            }

            article {
                &.entry {
                    margin-top: 30px;

                    .cat-links a {
                        font-size: size(18);
                        color: var(--secondary);

                        @include mobile {
                            font-size: size(16) !important;
                        }
                    }

                    .entry-title {
                        font-size: size(24) !important;
                        line-height: 30px;

                        @include mobile {
                            font-size: size(16) !important;
                        }
                    }

                    .entry-meta {
                        font-family: var(--primary-font);
                        font-size: size(14);
                    }
                }

                .entry-content p {
                    font-size: size(16);
                    letter-spacing: 0;
                    line-height: 22px;
                }

                &.has-post-thumbnail {
                    display: block;
                    /* @include mobile {
                display: flex;
              }*/

                    .post-thumbnail {
                        flex-basis: 35%;
                        margin-bottom: 15px;

                        @include mobile {
                            margin-right: 10px;
                        }
                    }

                    .entry-container {
                        @include mobile {
                            flex-basis: 65%;
                        }

                        .entry-title {
                            @include mobile {
                                font-size: size(16) !important;
                            }
                        }
                    }
                }
            }
        }
    }

    aside.search-page-sidebar {
        img {
            width: 100%;
        }

        @media only screen and (min-width: 782px) {
            width: 30%;
        }
    }

    &.has-sidebar #primary {
        @media only screen and (min-width: 782px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // flex-direction: row-reverse;
        }
    }

    .pre-itens-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 34px;
        margin-bottom: 30px;

        .found-itens-quantity {
            color: #0a0a0a;
            font-size: size(16);
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }

        .sorting-method {
            color: rgba(10, 10, 10, 0.5);
            font-size: size(16);
            letter-spacing: 0;
            line-height: 20px;
            text-align: right;
            display: flex;
            position: relative;
            margin-right: 15px;

            button.current {
                padding: 0;
                color: var(--primary);
                font-size: size(16);
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                margin-left: 5px;
                position: relative;

                &:after {
                    position: absolute;
                    top: 7px;
                    right: -20px;
                    @include triangle(bottom, 6px, 6px, var(--primary));
                }
            }

            .options {
                display: none;

                &.active {
                    display: block;
                    position: absolute;
                    top: 30px;
                    right: 0;
                }

                button.option {
                    padding: 0;
                    color: var(--primary);
                    font-size: size(16);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin-left: 5px;
                    position: relative;
                }
            }
        }
    }

    form.search-form {
        margin-bottom: 29px;

        .search-input-wrapper {
            position: relative;
            margin-bottom: 32px;

            input[type="search"] {
                height: 66px;
                border: 2px solid #dddddd;
                border-radius: 10px;
                outline: none;
                overflow: hidden;
                background-color: transparent;
            }

            .search-submit {
                background-color: var(--primary);
                border-radius: 0 10px 10px 0;
                color: white;
                padding: 0 29px;
                right: 0;
                top: 0;
                bottom: 0;

                &:hover {
                    svg {
                        transition: all 0.2s ease-in-out;
                        transform: scale(1.1);
                    }
                }

                svg {
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        .filters {
            margin-bottom: 34px;

            &--title {
                color: #555d66;
                font-size: size(18);
                font-weight: bold;
                letter-spacing: 0;
                text-transform: uppercase;
                line-height: 21px;
            }

            &--itens {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 14px;

                @include tablet {
                    grid-template-columns: auto;
                }
            }

            &--item {
                position: relative;

                &>* {
                    @include tablet {
                        min-width: 100%;
                    }
                }

                .option-filter {
                    color: white;
                    position: absolute;
                    z-index: 99999;
                    top: 36px;
                    height: 41px;
                    background: white;
                    border: 0px;
                    border-radius: 10px 10px 0 0;
                }

                select,
                &>input {
                    height: 36px;
                    padding: 0 12px;
                }

                select,
                &>input,
                .select2-container--default .select2-selection--multiple {
                    width: 100%;
                    min-height: 42px;
                    border: 2px solid #dddddd;
                    border-radius: 10px;
                    background-color: transparent;
                    color: #555d66;
                    font-size: size(16);
                    font-weight: bold;
                    letter-spacing: 0;
                    appearance: none;
                    line-height: 19px;
                    outline: none;
                }

                .select2-search__field {
                    color: #555d66;
                    font-size: size(16);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 25px;
                    outline: none;
                    padding-left: 6px;
                }

                .select2-selection__choice {
                    background-color: var(--primary-lighter-75);
                    color: var(--primary);
                    border: 0;
                    font-size: size(16);
                    font-weight: normal;
                    padding: 2px 4px 2px 0;

                    button.select2-selection__choice__remove {
                        position: initial;
                        line-height: unset;
                        border: 0;
                        color: var(--primary);
                        padding-left: 7px;

                        &:hover {
                            background: none;
                        }
                    }
                }

                @include tablet {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

a.external-link {
    color: var(--primary);
    padding-right: 15px;
}

.search-form {

    label[for="search-form-3"],
    label[for="search-form-2"],
    label[for="search-form-1"] {
        display: initial;
    }
}

.daterangepicker {
    button.applyBtn.btn.btn-sm.btn-primary {
        background-color: var(--primary);
        border-color: var(--primary);
    }

    .calendar-table {
        td {
            &.active {
                background-color: var(--primary);

                &.in-range {
                    background-color: var(--primary);
                }
            }

            &.in-range {
                background-color: #f7f7f7;
            }
        }
    }

    .daterangepicker_input i {
        top: 5px;
    }
}

.select2-dropdown {
    li.select2-results__option.select2-results__option--selectable.select2-results__option--highlighted {
        background-color: var(--primary);
    }

    .select2-results__option--selected {
        background-color: rgba(94, 94, 94, 0.07);
    }

    .select2-results__option--selectable {
        font-size: size(16);
    }
}

.dark-theme {
    &.search {

        form.search-form .search-input-wrapper input[type="search"],
        .found-itens-quantity,
        .sorting-method {
            color: white;
        }

        form.search-form .filters--item input {
            color: white;
        }

        .selectric {
            span {
                color: white;
            }
        }

        .no-results.not-found {
            p {
                color: white;
            }
        }

        form.search-form .filters--item .select2-selection__choice {
            background-color: var(--primary-opacity-1);
        }

        .cat-links {
            a {
                &:hover {
                    opacity: 0.7;
                    color: #767676;
                }
            }
        }

        .entry-meta .byline {
            a {
                &:hover {
                    opacity: 0.7;
                    color: #767676;
                }
            }
        }

        .main-search .page-header h1.page-title {
            color: white;
        }
    }
}
