.petition.entry .petition--header:not(.empty-content) .entry-content > * {
    margin: 0px !important;
}

.single-petition {
    padding-top: 40px;

    .site-content {
        @media only screen and (min-width: 782px){
            margin-top: 0px;

        }
    }

    @include tablet {
        padding-top: 15px;

        .petition {
            &--content {
                .content-wrapper {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "a"
                        "b";
                    
                    .sidebar {
                        grid-area: b;
                    }

                    .post-content {
                        grid-area: a;
                    }
                }
            }
        }
    }

    .petition {
      
        &--header {

            &.has-content{
                .featured-image {
                    img {
                        width: 100%;
                        max-height: 500px;
                        object-fit: cover;

                        @include mobile{
                            height: 200px;
                            min-height: 100%;
                            object-position: 50% 50%;
                        }
                    }
                }
            }

            &.empty-content {   
                &.has-thumbnail {

                    @include mobile {
                        .content-wrapper .sidebar {
                            width: 100%;
                        }
                    }

                    .language-selector {
                        margin-top: 0;
                    }
                }
                

                &.no-thumb {

                    @include mobile {
                        .content-wrapper .sidebar {
                            width: 100%;
                        }
                    }

                    .language-selector {
                        margin-top: 50px;
                    }
                }
            }
        }

        &--content {
            .sidebar {
                .petition-plugin-sidebar {
                    & > * {
                        min-width: 100%;
                    }
                }
            }

            &.has-content.has-thumbnail {
                @include mobile{
                    margin-top: 0px;

                    .post-content{
                        padding-top: 0px;
                    }
                }
            }
        }
    }

    /* hide LANG option in petition */
    .mobile-toolbar {
        .item.toolbar-lang {
            display: none;
        }
    }

}


/* Dark Theme*/

.dark-theme {
    .petition{
        .post-content{
            h1, h2, h3, h4, h5, h6, p, ol, ul, li {
                color: #f5f5f5;
            }
            
            .credited-image-block{
                .image-description{
                    color: #f5f5f5;
                }
            }

        }
    }
}


/*Arabic petition*/
html[dir=rtl]{
    .single-petition {
        .petition--content .content-wrapper .sidebar .petition-block .signatures-information .petition-form fieldset > div input {
            margin-right: 0px;
            margin-left: 5px;
        }

        .wp-block-ub-tabbed-content-tab-title-wrap{
            margin-right: 0px;
            margin-left: 5px;
        }
    }
}