.site-footer {
    margin-top: size(140) !important;
    background-color: #0B0B07;
    padding-top: size(67);
    margin: 2rem 0 0;

    @include tablet {
        padding-top: 7rem;
        margin: 2rem 0 4rem;
    }

    @include desktop {
        padding-left: size(100);
        padding-right: size(100);
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #0B0B07 inset;
        -webkit-text-fill-color: #E7E8EA;

    }


    .header-footer {
        display: flex;
        flex-direction: row;

        &.header__wrapper{
            margin: auto;
            max-width: 90%;
            width: 1200px;
        }

        .search-footer{
            @include tablet{
                max-width: 600px;
                width: 70%;
                place-self: center;
            }

            form.search-form {
                margin-bottom: 29px;
        
                .search-input-wrapper {
                    position: relative;
                    margin-bottom: 32px;
        
                    input[type="search"] {
                        color: white;
                        height: 66px;
                        outline: none;
                        overflow: hidden;
                        border-bottom: 1px solid #E7E8EA;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        background-color: transparent;
                        border-radius: 0px;
                    }
        
                    .search-submit {
                        color: white;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: transparent;
                        padding: 0 0.5rem;
        
                        &:hover {
                            svg {
                                transition: all .2s ease-in-out;
                                transform: scale(1.1);
                            }
                        }
        
                        svg {
                            transition: all .2s ease-in-out;
                        }
                    }
        
                }
        
                .filters {
                    margin-bottom: 34px;
        
                    &--title {
                        color: #555D66;
                        font-size: size(18);
                        font-weight: bold;
                        letter-spacing: 0;
                        text-transform: uppercase;
                        line-height: 21px;
                    }
        
                    &--itens {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 14px;
        
                        @include tablet {
                            grid-template-columns: auto;
                        }
                    }
        
                    &--item {
                        position: relative;
        
                        & > * {
                            @include tablet {
                                min-width: 100%;
                            }
                        }
        
                        .option-filter {
                            color: white;
                            position: absolute;
                            z-index: 99999;
                            top: 36px;
                            height: 41px;
                            background: white;
                            border: 0px;
                            border-radius: 10px 10px 0 0;
                        }
        
                        select, & > input {
                            height: 36px;
                            padding: 0 12px;
                        }
        
                        select,
                        & > input, .select2-container--default .select2-selection--multiple {
                            width: 100%;
                            min-height: 42px;
                            border: 2px solid #DDDDDD;
                            border-radius: 10px;
                            background-color: transparent;
                            color: #555D66;
                            font-size: size(16);
                            font-weight: bold;
                            letter-spacing: 0;
                            appearance: none;
                            line-height: 19px;
                            outline: none;
        
                        }
        
                        .select2-search__field {
                            color: #555D66;
                            font-size: size(16);
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 25px;
                            outline: none;
                            padding-left: 6px;
                        }
        
                        .select2-selection__choice {
                            background-color: var(--primary-lighter-75);
                            color: var(--primary);
                            border: 0;
                            font-size: size(16);
                            font-weight: normal;
                            padding: 2px 4px 2px 0;
        
                            button.select2-selection__choice__remove {
                                position: initial;
                                line-height: unset;
                                border: 0;
                                color: var(--primary);
                                padding-left: 7px;
        
                                &:hover {
                                    background: none;
                                }
                            }
                        }
        
        
                        
        
                        @include tablet {
                            margin-bottom: 15px;
                        }
                    }
                }
        
            }
        }

        @include tablet {
            flex-direction: column;

            .search {
                width: 70%;
                place-self: center;
                max-width: 600px;

                form {
                    margin-top: 100px;
                }
            }
        }

        .logo {
            flex-grow: 1;
            text-align: center;
            
            .image {
                margin-top: size(-145);

                @include tablet {
                    margin-top: -290px;
                }

                a {
                    width: 100%;
                    margin: 0;
                    
                    img {
                        width: size(194);
                    }
                }
                
            }
            
            p {
                color: #E7E8EA;
                font-weight: bold;
                margin: 0;
                font-size: size(20);
                font-family: var(--special-heading-font);
                line-height: 26px;
                letter-spacing: 2px;
            }

            .text2 {
                color: #EB2F06;
            }
        }

        .follow-us {
            display: flex;
            flex-direction: row;

            @include tablet {
                place-self: center;
            }

            nav {
                height: 50px;
            }
            
            .text {
                font-weight: bold;
                font-size: size(16);
                color: #E7E8EA;
                margin: 1em size(20) auto auto;
                font-family: var(--special-heading-font);
                letter-spacing: 3.2px;
            }

            svg {
                fill: #E7E8EA;
                margin: 1em size(10) 0 size(10);
            }
        }
    }

    .body {
        display: flex;
        flex-direction: row;

        &__wrapper{
            margin: auto;
            max-width: 90%;
            width: 1200px;
        }

        @include tablet {
            flex-direction: column;
        }

        ul {
            list-style-type: none;
            padding: 0;
            
            a {
                color: #26A17A;
            }

            li {
                font-family: var(--special-heading-font);
                letter-spacing: 3.2px;
                text-transform: uppercase;
            }

            li:not(.menu-item-has-children) {
                margin-bottom: size(14);
                padding-bottom: size(14);
                border-bottom: 1px solid var(--primary);
                color: var(--primary)
                
            }

            li.menu-item-has-children {
                .sub-menu {
                    border-top: 1px solid var(--primary);
                    margin-top: 17px;
                    padding-top: size(10);

                    a {
                        color: #E7E8EA;
                        font-weight: normal;
                        font-size: size(14);
                        font-family: var(--primary);
                        letter-spacing: 0px;
                        font-family: var(--primary-font);
                        text-transform: none;
                    }

                    li {
                        border: none;
                        margin-bottom: 0;
                        padding-bottom: 0;

                        &:last-child {
                            margin-bottom: size(10);
                        }
                    }
                }
            }
        }

        .column {
            text-align: center;
            font-weight: bold;
            
            @include desktop {
                margin: 0 20px;
                width: 20%;
            }
            @include tablet {
                max-width: 600px;
                width: 70%;
                place-self: center;
            }

            p {
                margin: 0;
            }
        }
        

        
        p {
            color: #E7E8EA;
            font-weight: normal;
            font-size: size(14);
        }
        
        a {
            &:hover {
                cursor: pointer
            }
        }

        .column1 {
            display: flex;
            flex-direction: column;
            margin-left: 0;
        }

        .column4 {
            margin-right: 0;
            
            @include desktop {
                width: 40%;
            }

            .newsletter {
                padding: 0;
                background-color: unset;
                margin-bottom: 0;
                margin-top: size(40);

                @include mobile {
                    ::placeholder {
                        font-size: size(17);
                    }
                }

                .horizontal {
                    padding: 0;
                    margin: 0;

                    .input-div {

                        .link-add {
                            display: none;
                        }
                    }
                }

                .newsletter-section-header {
                    display: none;
                }
            }
        }
    }

    .website-credits {
        font-size: size(12);
        display: flex;
        flex-direction: row;
        float: right;

        @include tablet{
            margin-right: 10px;
        }

        .text1 {
            color: #E7E8EA;
            margin-right: 0.22em;
        }

        a {
            color: #E7E8EA;
            display: flex;

            &:hover {
                opacity: 0.7;
            }

            .text2, .text3 {
                font-weight: bold;
    
            }
        }

        .text3 {
            color: var(--secondary);
        }
    }
}



/* FOOTER - Search form */
.site-footer {
    .page-title {
        margin-bottom: 60px;
        font-size: size(18);
    }

    .page-header {
        width: auto;
    }

    
    main#main {
        width: 100%;

        span.custom-separator {
            margin: 0 5px;
        }

        article {

            &.entry {
                margin-top: 30px;

                .cat-links{
                    font-size: size(18);

                    @include mobile {
                        font-size: size(16) !important;
                    }
                }

                .entry-title {
                    font-size: size(24) !important;
            
                    @include mobile {
                        font-size: size(16) !important;
                    }
            
                }
            }

            .entry-content p {
                font-size: size(16);
                letter-spacing: 0;
                line-height: 22px;

                @include mobile {
                    display: none;
                }
            }

            &.has-post-thumbnail {
                @include mobile {
                    display: flex;
                }

                .post-thumbnail {
                    flex-basis: 35%;
                    @include mobile {
                        margin-right: 10px;
                    }
                }

                .entry-container {
                    @include mobile {
                        flex-basis: 65%;
                    }

                    .entry-title {
                        @include mobile {
                            font-size: size(16) !important;
                        }
                    }
                }
            }
        }

    }

    .pre-itens-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 34px;
        margin-bottom: 30px;

        .found-itens-quantity {
            color: #0A0A0A;
            font-size: size(16);
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }

        .sorting-method {
            color: rgba(10, 10, 10, 0.5);
            font-size: size(16);
            letter-spacing: 0;
            line-height: 20px;
            text-align: right;
            display: flex;
            position: relative;
            margin-right: 15px;

            button.current {
                padding: 0;
                color: var(--primary);
                font-size: size(16);
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                margin-left: 5px;
                position: relative;

                &:after {
                    position: absolute;
                    top: 7px;
                    right: -20px;
                    @include triangle(bottom, 6px, 6px, var(--primary));
                }
            }

            .options {
                display: none;

                &.active {
                    display: block;
                    position: absolute;
                    top: 30px;
                    right: 0;
                }

                button.option {
                    padding: 0;
                    color: var(--primary);
                    font-size: size(16);
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 20px;
                    margin-left: 5px;
                    position: relative;
                }
            }

        }
    }

}

