.mobile-toolbar {
    display: none;

    .wrapper {
        justify-content: center;

        @include mobile {
            flex-wrap: nowrap;
            max-width: 100%;
        }
    }

    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 60px;
        background: #F5F5F5;
        box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
        z-index: 999999;
        bottom: 0;
        left: 0;
        width: 100%;

        .item {
            position: relative;
            display: flex;
            justify-content: center;

            button[action=language-options]{
                i {
                    display: block;
                    font-style: normal;
                    margin-bottom: 3px;
                    text-transform: capitalize;
                }
            }
            
            .toggle-language-options {
                display: none;

                ul {
                    padding: 8px 15px;
                    margin-bottom: 0;
                    margin-top: 0;

                    li {
                        list-style: none;
                        a {
                            text-transform: capitalize;
                        }
                    }
                }

                &.active {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 70px;
                    background: #F5F5F5;
                    color: black;
                    text-align: center;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    border-radius: 14px;
                }
            }

            .toggle-options {
                display: none;

                &.active {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    top: -100px;
                    background: #F5F5F5;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    width: 56px;
                    border-radius: 15px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    
                    li {
                        width: 100%;
                        margin: 0;
                        padding: 10px;

                        svg {
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }

            button {
                padding: 10px;
                font-size: 14px;
                color: #191E23;
                background: none;

                @media only screen and (max-width: 325px) {
                    padding: 8px;
                }

                i {
                    font-size: 18px;
                    margin-bottom: 6px;
                }
            }

            &--title {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 15px;
                text-transform: uppercase;
                color: #555D66;
            }
        }


    }

}

.dark-theme {
    .mobile-toolbar {
        background: #23282D;
        color: #f5f5f5;

        .item {
            .toggle-language-options {
                display: none;

                &.active {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 70px;
                    background: #23282D;
                    color: white;
                    text-align: center;
                    border-radius: 14px;
                }
            }

            .toggle-options {
                &.active {
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    top: -100px;
                    background: #23282D;
                    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.3);
                    width: 56px;
                    border-radius: 50px;
                }
            }

            button {
                color: white;
            }

            &--title {
                color: #f5f5f5;
                opacity: 0.60;
            }
        }

    }
}


/* STW - NEW HEADER */
$primary: #26A17A;
$secondary: #EB2F06;

// body:not(.single){
//     margin-top: 157px;
// }

 body {
    @include desktop{
        padding-top: 157px;
    }
}

.button-reset-style {
    background: none;
    color: #0B0B07;
    font-size: size(18);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    i {
        padding-left: 15px;
    }
}

.header{
    $logo-size: 211px;
    $header-height: 157px;
    $header-sticky-height: 40px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    height: #{$header-height};

    @include tablet {
        height: #{$header-sticky-height};
    }

    &.sticky {
        height: 40px;
    }

    // Apply sticky header to all pages
    * & {
        // position: initial;

        // Sticky header logics
        &.sticky {
            // position: fixed;

            .header {
                &--sticky {
                    transform: translateY(0);
                    background-color: #F5F5F5;
                    height: 40px;
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
                    display: flex;
                    align-items: center;
                    position: relative;

                    .wrapper {
                        display: flex;
                        align-items: center;
                        
                        .left-content, .right-content, .center-content {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .left-content {
                            .hamburger-menu {
                                @extend .button-reset-style;
                            }
        
                            a.logo {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                @include mobile {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
        
                                .logo-title {
                                    font-family: var(--special-heading-font);
                                    color: #0B0B07;
                                    font-size: size(18);
                                    font-weight: bold;
                                }
        
                                img  {
                                    width: 38px;
                                    margin-left: 10px;
                                }
                            }
                        }
        
                        .right-content {  
                            button.search {
                                @extend .button-reset-style;

                                @include mobile {
                                    display: flex;
                                }
                            }
                            
                            .social-icons {
                                @include mobile {
                                    display: none;
                                }

                                .page--share {
                                    display: flex;
        
                                    & > div {
                                        a {
                                            width: 30px;
                                            height: 30px;
                                            background-color: $primary;
                                            border-radius: 50%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            transition: all .2s ease;
                                            margin-right: 10px;
        
                                            i {
                                                color: white;
                                            }
                                        }
                                    }
                                }
                                
                            }
                        }
        
                        .center-content {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);

                            @include mobile {
                                display: none;
                            }
        
                            .post-title {
                                color: #191E23;
                                font-family: var(--special-heading-font);
                                font-size: size(14);
                                font-weight: bold;
                                letter-spacing: 0;
                                line-height: 21px;
                                text-align: center;
                            }
                        }
                    }

                    
                }

                &--content {
                    &.active {
                        position: absolute;
                        top: #{$header-sticky-height};
                        height: calc(100vh - #{$header-sticky-height});
                    }

                    ul.main-menu > li.active .sub-menu {
                        height: calc(100vh - #{$header-sticky-height});
                        display: block;

                        @include mobile {
                            height: auto;
                            padding-left: 20px;
                            text-align: right;
                        }
                    }

                }

                &--search {
                    &.active {
                        height: calc(100vh - #{$header-sticky-height});
                        top: #{$header-sticky-height};
                    }
                }

                &--subheader, &--main {
                    transform: translateY(-500px);
                    transition: all .5s ease;
                }

                &--content {
                    .sub-menu {
                        top: $header-sticky-height + 1px;
                    }
                }
            }   
        }

    }
    
    &--sticky {
        display: none;
        transform: translateY(-400px)
    }





    // Real header stuff
    &--subheader {
        background-color: $primary;
        height: 31px;
        font-size: size(14);
        transition: all .4s ease;

        > .wrapper {
            flex-direction: row-reverse;
        }

        .social-menu {
            display: flex;
            align-items: center;
            color: white;

            a {
                color: white;
            }

            .social-navigation {
                margin-left: 20px;    
            }
        }

        .languages-menu {
            .language-switter {
                margin-left: calc(#{$logo-size} + 30px);

                > div {
                    padding: 0;
                    border: 0;

                    ul {
                        li {
                            &:last-child {
                                a {
                                    padding-right: 0;
                                }
                            }

                            
                            a {
                                color: white;
                                font-size: size(14);

                                &:hover {
                                    font-weight: normal;
                                }
    
                            }

                            &.wpml-ls-current-language {
                                border-top: 3px solid #0B0B07;
                                
                                a {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
    
    &--main {
        background-color: #F5F5F5;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        transition: all .4s ease;

        > .wrapper {
            display: flex;
            align-items: center;
            height: 126px;

            .left-content {
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;

                button {
                    @extend .button-reset-style
                }

                .hamburger-menu {
                    margin-left: 60px;
                    flex-direction: row-reverse;

                    i {
                        width: 31px;
                        max-width: 31px;
                        min-width: 31px;
                    }

                    @include mobile {
                        span {
                            display: none;
                        }
                    }
                }

                button.search {
                    flex-direction: row-reverse;
                }
            }

            .right-content {
                a.logo {
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;

                    .logo-text {
                        display: flex;
                        flex-direction: column;
                        // align-items: flex-end;
                        font-family: var(--special-heading-font);
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-left: 30px;

                        span:first-child {
                            color: #0B0B07;
                            font-size: size(60);
                            line-height: 48px;
                            letter-spacing: 6px;
                        }

                        span:last-child {
                            color: $secondary;
                            font-size: size(16);
                            padding-top: 20px;
                            letter-spacing: 1.5px;
                        }
                    }

                    img {
                        width: $logo-size;
                        height: 126px;
                        transform: translate(0px, -12px);
                    }
                }
            }
        }
    }

    &--content {
        position: absolute;
        left: auto;
        right: -100vw;
        background-color: #F5F5F5;
        width: 30vw;
        height: calc(100vh - #{$header-height});
        font-family: var(--special-heading-font);
        border-top: 2px solid rgba(0,0,0,0.3);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
        z-index: 1;
        transition: all .2s ease-in-out;
        overflow: auto;
        // transform: translateX(-100vw);

        @include mobile {
            width: 100%;
        }

        &.active {
            // transform: translateX(0);
            right: 0;
            transition: all .2s ease-in-out;

            > ul.main-menu {
                > li {
                    &:hover, &.active {
                        .sub-menu {
                            // left: 100%;
                            left: 30vw;
    
                        }
                    }
                }
            }

            & > ul.main-menu > li:hover .sub-menu, & > ul.main-menu > li.active .sub-menu {
                left: auto;
                right: 30vw;
            }

            & > ul.main-menu > li > a {
                // display: flex;
                text-align: right;
                // justify-content: space-between;
            }

            // .main-menu li, .follow-us {
            //     margin-right: 0;
            //     padding-right: 50px;
            //     padding-left: 30px;
            // }

        }
        
        // overflow-y: auto;

        ul {
            list-style: none;
            font-size: size(18);

            a {
                color: #0B0B07;
                text-transform: uppercase;

                &:hover {
                    font-weight: 500;
                }
            }
        }

        > ul.main-menu {
            margin: 0;
            padding: 0;
            padding-top: 20px;
            position: relative;

            > li {
                font-weight: 500;
                letter-spacing: 1.8px;
                display: flex;
                justify-content: space-between;
                padding-right: var(--padding-right);
                padding-left: 20px;
                flex-direction: row-reverse;


                @include mobile {
                    position: relative;
                    flex-direction: column;
                    padding-right: 50px;
                }
                

                &:hover, &.active {
                    background-color: #EEEEEE;
                    transition: all .2s ease-in-out;
                }

                > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    cursor: pointer;
                    width: 100%;
                    transition: all .2s ease-in-out;

                    @include mobile {
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                }

                .sub-menu {
                    width: 15vw;
                    height: calc(100vh - #{$header-height});
                    position: fixed;
                    top: $header-height + 1px;
                    left: -100vw;
                    padding: 20px 0px;

                    background-color: #F5F5F5;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);

                    @include tablet-only{
                        width: 25vw;
                        left: -25vw;
                    }
                    
                    @include mobile {
                        position: initial;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        display: none;
                    }


                    > li {
                        padding: 10px 30px;
                        
                        &:hover {
                            background-color: #EEEEEE;
                        }
                    }

                }

                .submenu-expand {
                    background: none;
                    color: $primary;
                    transform: rotate(90deg);
                    padding: 0;
                    float: right;
                    margin-right: 20px;

                    @include mobile {
                        transform: rotate(0deg);
                        position: absolute;
                        right: 0;
                        top: 7px;
                    }
                }
            }

            &.more-menu {

                @include mobile{
                    display: none;
                }
                
                position: initial;

                & > li  a{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }

                .sub-menu {
                    li {
                        text-transform: uppercase;

                        button {
                            background: none;
                            color: rgb(51,51,51);
                            display: flex;
                            padding: 10px 0;
                            font-size: size(20);

                            &[action="dark-mode"] {
                                i {
                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    padding: 0 10px;
                                }
                            }
                        }

                        .item--content.padded {
                            display: flex;

                            button[action="increase-size"], button[action="decrease-size"] {
                                margin-top: 15px;
                                font-size: size(16);

                                // i {
                                    &:first-child {
                                        padding-left: 0;
                                    }

                                    padding: 0 10px;
                                // }
                            }
                        }

                    }
                }
                
            }
        }

        .follow-us {
            padding-left: 20px;
            color: $primary;
            text-transform: uppercase;
            font-size: size(18);
            font-weight: 500;
            margin-top: 15px;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            padding-right: var(--padding-right);
            text-align: right;
            
            .social-navigation {
                margin-top: 15px;
            }
        }
    }

    &--search {
        // display: none;
        transform: translateY(-100vh);

        width: 100%;
        height: calc(100vh - #{$header-height});
        position: absolute;
        top: $header-height;
        background-color: #333;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all .2s ease;

        &.active {
            display: flex;
            transform: translateY(0vh);
            transition: all .2s ease;
            opacity: 1;
        }

        .content-limiter {
            max-width: 33.333%;
            margin: 0 auto;
            width: 100%;

            @include tablet {
                max-width: 90%;
            }

            h3 {
                color: #555d66;
                font-size: 1.125rem;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 22px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }

            form {
                position: relative;

                input {
                    width: 100%;
                    height: 66px;
                    border: 2px solid #555d66;
                    border-radius: 10px;
                    color: hsla(0,0%,100%,.507);
                    outline: none;
                    overflow: hidden;
                    background-color: transparent;
                    padding-right: 69px;
                }

                button {
                    background-color: $primary;
                    border-radius: 0 10px 10px 0;
                    color: #fff;
                    padding: 0 29px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }

}

// Arabic RTL
html[dir=rtl] {
    @include desktop {
        .header--content {
            left: -100vw;
            right: auto;

            ul > li {
                padding-right: 0;
            }

            &.active {
                left: 0;

                & > ul.main-menu > li:hover .sub-menu, & > ul.main-menu > li.active .sub-menu {
                    left: 30vw;
                    right: auto;
                }

                & > ul.main-menu > li > a {
                    // display: flex;
                    text-align: left;
                    // justify-content: space-between;
                }

                > .main-menu > li, .follow-us {
                    margin-right: 0;
                    padding-right: 50px;
                    padding-left: var(--padding-left)

                }
            }
            
        }

        .header--main {
            .left-content {
                .hamburger-menu {
                    margin-left: 0;
                    margin-right: 60px;
                }

                button {
                    i {
                        padding-right: 15px;
                    }
                }
            }
        }

        .header--subheader {
            .social-menu .social-navigation {
                margin-left: 0;
            }
        }

        .header.sticky .header--sticky {
            > .wrapper {
                > .left-content {
                    > button.hamburger-menu {
                        > i {
                            padding-left: 0;
                        }
                    }
                }   
            }
            
            
        }
    }

    @include tablet {
        .header--content ul.main-menu > li.active .sub-menu {
            min-width: 100%;
            box-shadow: none;
        }

        .header--content > ul.main-menu > li .submenu-expand {
            left: 30px;
            right: auto;
            transform: rotate(180deg);
        }
    }
}

.admin-bar {
    header.header {
        margin-top: 32px;
        z-index: 9999;
    }
}