
/* Gray column with green heading */

.is-style-home__block-sidebar {
  margin-bottom: 50px !important;
  background: whitesmoke;
  padding: 0px !important;
}

.is-style-home__block-sidebar p {
  margin-bottom: 0px !important;
  border-radius: 10px 10px 0 0;
}

.is-style-home__block-sidebar .wp-block-group__inner-container .wp-block-group {
  padding: 30px !important;
}

.is-style-home__block-sidebar .wpnbha.is-style-borders article:last-of-type:not(:first-of-type) {
  border-bottom: 0;
  padding-bottom: 0px;
}

/* Group with borders */
.is-style-all-borders-radius{
  border-radius: 5px;
  opacity: 0.9;
}
.is-style-top-borders-radius{
  border-radius: 5px 5px 0 0;
  opacity: 0.9;
}
