.pictures-slider {
    margin-bottom: 30px;
}

.pictures-slider .itens .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.pictures-slider div[aria-label="Bloco: Photo Content"] {
    border: 1px solid black;
    padding: 10px;
}

.pictures-slider .itens .slider .block-editor-block-list__layout {
    display: block;
}

.pictures-slider .info .location, .pictures-slider .info .author, .pictures-slider .info .author-text {
    display: flex;
}

.pictures-slider .info p {
    margin: 0;
}

.pictures-slider .slider-row {
    width: 100%;
}
.pictures-slider button.expand-icon {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    z-index: 1;
    color: white;
    font-size: 21px;
    background: none;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    cursor: pointer;
}
.pictures-slider .pictures .close-button {
    display: none;
}
.pictures-slider .pictures.active {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 100%;
    z-index: 1;
    background: #0b0b07;
}
.pictures-slider .pictures.active .expand-icon {
    display: none;
}
.pictures-slider .pictures.active .close-button {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    color: white;
    z-index: 999;
}
.pictures-slider .pictures.active .slider {
    display: flex !important;
    align-items: center;
}
.pictures-slider .pictures.active .slider .image-bg {
    width: 100%;
    /*height: 100%;*/
    display: flex;
    align-items: center;
}
.pictures-slider .pictures.active .slider > .slider-row {
    display: none;
}
.pictures-slider .section-title {
    color: #eb2f06;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 39px;
    text-align: center;
    border-top: 5px solid #eb2f06;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 60px;
    padding-top: 26px;
}
.pictures-slider .slick-arrow {
    width: 50px;
    min-width: 31px;
    height: 50px;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    background-size: 50px;
}
.pictures-slider .slick-arrow.single-item-collection--attachments-prev {
    left: 25px;
}
.pictures-slider .slick-arrow.single-item-collection--attachments-next {
    right: 25px;
}
.pictures-slider .image-bg {
    background: #0b0b07;
    position: relative;
}
.pictures-slider .slider img {
    /*height: 100%;*/
    width: -webkit-fill-available;
    width: -moz-available;
    top: 0;
    object-fit: cover;
}
.pictures-slider .slider .image-cut {
    position: relative;
    padding-top: 56.25% !important;
    height: 0;
    overflow: hidden;
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.pictures-slider .slider .info {
    margin-bottom: 35px;
}
.pictures-slider .slider .counter {
    opacity: 0.5;
    color: #0b0b07;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 44px;
}
.pictures-slider .slider .legend {
    color: #eb2f06;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
.pictures-slider .slider .info {
    text-align: left;
    border-radius: 5px;
    background-color: #e7e8ea;
    padding: 28px 20px;
    color: #0b0b07;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}
.pictures-slider .slider .info > div {
    margin-bottom: 23px;
}
.pictures-slider .slider .info > div i {
    margin-right: 20px;
    color: #26a17a;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}
.pictures-slider .slider .info > div:last-child {
    margin-bottom: 0;
}
p {
    padding: 0 0.625rem;
}
