/*
For plugin Complianz | GDPR/CCPA Cookie Consent
wordpress.org/plugins/complianz-gdpr/
*/

.cc-revoke {
    color: #fff !important;
    font-family: var(--primary) !important;
    text-decoration: none !important;

    &:hover {
        font-weight: bold;
    }
}

#cc-window.cc-window {
    position: inherit;
    font-family: var(--primary-font);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: #555D66;
    color: #fff;
    padding: 20px 20px 25px;
    border-radius: 0px;

    /* iphone 5: 320px */
    &.cc-type-categories.cc-floating {
        min-width: 320px;
    }

    /* vertical center align preferences*/
    &.cc-type-categories.cc-top .cmplz-categories-wrap {
        display: flex;
        align-items: center;
    }

    .jeo {
        justify-content: space-between;
        margin: auto;
        max-width: 90%;
        width: 1200px;
        display: flex;

        @include mobile {
            margin: auto;
            max-width: 100%;
            width: 100%;
            display: block;
        }

        .cmplz-categories-wrap{
            font-size: 14px;
        }
        .cc-compliance{

            @include mobile {
                display: flex !important;
                flex-direction: column;
            }
    
            .cc-btn.cc-dismiss,
            .cc-btn.cc-show-settings,
            .cc-btn.cc-save-settings,
            .cc-btn.cc-allow {
                background-color: transparent !important;
                border: 0px;
            }

            /* When acept all + view preferences is enable, 'only functional' is hidden */
            a.cc-btn.cc-dismiss {
                display: none;
            }
         
            .cc-btn.cc-accept-all{
                
                @include mobile {
                    width: 100%;
                    order: 1;
                }

                @include tablet {
                    order: 1;
                }

                border: 2px solid #FFFFFF !important;
                border-radius: 15px;
                color: #fff;
                text-transform: uppercase;
                background-color: transparent;

                @include desktop{
                    order: 3;
                }

                &:hover {
                    background: transparent;
                }
            }

            .cc-btn.cc-save-settings, .cc-btn.cc-btn.cc-show-settings {
                @include mobile {
                    margin-left: auto;
                }
            }
        }
    
    }


    .cc-message {
        a {
            color: #fff;
            text-decoration: underline !important;

            &:hover {
                font-weight: bold;
                color: #fff;
            }
        }

        .cookie-title {
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;

            @include mobile {
                margin-bottom: 15px;
            }

            &::before {
                content: '\f564';
                font-family: 'Font Awesome 5 Free';
                font-weight: 600;
                font-size: 35px;
                margin-right: 30px;
            }
        }

        p.cookie-custom-msg {
            margin-bottom: 0px;
            font-size: 16px;
            line-height: 19px;
            text-align: left;
        }

        .cc-link {
            display: none;
        }
    }

}

/* warning: blocked iframe */
#page{ 
    .cmplz-blocked-content-container .cmplz-blocked-content-notice {
        line-height: normal;
        font-family: var(--primary-font);
        z-index: 1;
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
    }
}