.wp-block-newspack-blocks-carousel .swiper-slide {
  

    @include tablet {
        max-height: none !important; 
        .entry-wrapper {
            background-color: #191E23;
            position: unset;
        }
    }
}

.home {
    .wp-block-newspack-blocks-carousel {
        article {

            @include desktop {
                display: flex;
                flex-direction: row-reverse;
            }

            .entry-wrapper {
                background-color:#F5F5F5;
                padding: 30px;
                color: #0B0B07;

                @include desktop{
                    top: unset;
                    left: unset;
                    right: unset;
                    position: unset;
                    max-width: 460px;
                }
            }
    
            .entry-title a {
                font-size: size(26);
                text-transform: uppercase;
                line-height: 40px;
                color: #0B0B07;
                max-height: none;
            }
    
            .cat-links {
                margin: 10px 0px;
                a {
                    color: var(--secondary);
                    font-size: size(14);
                }
            }

            .entry-meta{
                color: #0B0B07;
                font-size: size(14);
            }
        }

        .entry .entry-content .wp-block-group .wp-block-group__inner-container>* {
            margin-top: 0px;
        }
    
        .amp-carousel-button,
        .swiper-button {
            background-color: rgba(25, 30, 35, 0.3);
            border-radius: 50px;
        }
        
    
        .swiper-pagination-bullet {
            background: var(--primary);
        }
    
        .swiper-pagination-bullet.swiper-pagination-bullet-active,
        .swiper-pagination-bullet[selected] {
            width: 12px;
        }
    
        .swiper-pagination-bullets {
            height: calc(18px + 12px);
        }
    
        @include tablet {
            article {
                figure.post-thumbnail {
                    height: auto;
                }
    
                .entry-wrapper {
                    position: relative;
                }
    
                .entry-title {
                    font-size: size(18);
                }
            }
    
            .swiper-button-prev {
                left: 10px;
            }
    
            .swiper-button-next {
                right: 5px;
            }
    
            .swiper-button-next,
            .swiper-button-prev {
                display: block;
                top: 30%;
            }
        }
    }   
}


/* DarkTheme - Slider Home AR - 08/02 */
.dark-theme .wp-block-newspack-blocks-carousel h3.entry-title a {
    color: #191e23 !important;
}

.dark-theme.home .wp-block-newspack-blocks-carousel article .entry-meta .entry-date {
    color: #191e23;
}


.rtl {
    .wp-block-newspack-blocks-carousel {
        @include tablet{
            button.swiper-button {
                display: none;
            }
        }
    }
}