.ultp-block-wrapper {
  margin: 0px !important;
  padding: 0px !important;

  .ultp-block-item {

    .ultp-block-content-wrap {
      display: flex;
      flex-direction: column;

      .ultp-block-entry-heading {
        order: 2;
        .ultp-block-title a {
          font-family: var(--special-heading-font) !important;
          color: #111;
        }
      }

      .ultp-block-image {
        order: 1;

        a {
          position: relative;
          padding-bottom: 56.2%;

          img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }

      .ultp-block-content {
        order: 3;
        .ultp-block-excerpt {
          @include tablet {
            display: none;
          }
          p {
            font-family: var(--primary-font);
            color: #111;
            line-height: 22px;
          }
        }
      }
    }
  }
}

.dark-theme {
  .ultp-block-item {
    .ultp-block-excerpt,
    .ultp-block-excerpt p,
    .ultp-block-entry-heading h3.ultp-block-title a {
      color: #fff !important;
    }
  }
}

/* Slider from Post List Plugin */
.ultp-block-wrapper {
  ul.slick-dots {
    @include mobile {
      bottom: 15px !important;
    }
  }

  .ultp-block-slider-wrap {
    background: #f5f5f5;

    @include desktop {
      .ultp-block-content-inner {
        width: 40% !important;
      }

      .ultp-block-image-inner {
        width: 60% !important;
        right: 0 !important;
        left: unset !important;
      }
    }

    @include mobile {
      .ultp-block-excerpt {
        @include mobile {
          display: none;
        }
      }
      .ultp-block-content-inner {
        width: 100% !important;
        height: auto !important;
        position: absolute !important;
        bottom: 0 !important;
        border-radius: 0px !important;
      }

      .ultp-category-grid {
        margin: 0px !important;
      }

      .ultp-block-image {
        height: auto !important;
      }
    }
  }
}

.dark-theme {
  .site-main {
    article {
      .entry-content {
        .ultp-block-slider-wrap {
          .ultp-block-excerpt {
            p {
              color: #111 !important;
            }
          }
        }
      }
    }
  }
}
