.wp-block-ub-tabbed-content {
    div[role=tablist] {
        div[role=tab] {
            background: unset!important;
            border: none;
            font-family: var(--featured-font-family);
            font-size: size(18);
            text-transform: uppercase;
            opacity: 0.5;
            padding: 25px;
            padding-top: 0;

            &.active {
                opacity: 1;
                display: flex;
                flex-direction: column;
                position: relative;
                

                &:after {
                    color: var(--secondary) !important;
                    border-bottom: 5px solid var(--secondary) !important;
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }  

    .wp-block-ub-tabbed-content-tabs-content {
        border: none;
        padding: 30px 0;
    }
}



/*Dark mode*/
.dark-theme {
    .wp-block-ub-tabbed-content-tab-title {
        color: #f5f5f5;
    }

    .wp-block-ub-tabbed-content-tabs-content {
        p {
            color: #f5f5f5;
        }
    }
}