body.rtl {

    .header--search {
        form {
            input {
                margin-right: 10%;
            }
        }
    }

   
    @media (max-width: 1024px) {
        .header--search form input {
            width: fit-content !important;
            width: -webkit-fill-available !important;
        }
    }
      
    @media (min-width: 1025px) {
        .header--main i {
            margin-left: 10px;
        }
    
        .header--main button {
            margin-right: 0 !important;
            margin-left: 30px;
        }
    }
    
    .header--main {

        >.wrapper .right-content a.logo .logo-text span:first-child {
            letter-spacing: normal;
        }
        
        button {
            margin-right: 0 !important;
            margin-left: 30px;
        }
    }
    .main-search {
        .pre-itens-header {
            .sorting-method {
                .options {
                    left: 0;
                    right: unset !important;
                }
            }
        }
    }
    .search-footer {
        .search-input-wrapper {
            .search-field {
                text-indent: 30px;
            }
        }
    }
    .website-credits {
        a {
            direction: ltr;
        }
        .text1 {
            margin-left: 6px;
        }
    }
    .header {
        .header--content {
            .follow-us {
                padding-right: 0;
                
                @include mobile {
                    align-items: flex-start;
                    padding-right: 50px;
                }
            }
        }
    }
    .header .header--content .main-menu li, .header .header--content .follow-us {
        margin-right: 50px;

        @include mobile {
            margin-right: 0px;

        }
    }
    .language-switter {
        /*margin-right: 0 !important;*/
        /*margin-left: calc(211px + 30px);*/

        margin-left: 0px;
        margin-right: calc(211px + 2px);
    }
    .header--content {
        & > ul {
            &.main-menu {
                & > li {
                    .sub-menu {
                        width: 20vw !important;
                        right: -15vw;
                        left: unset;
                    }
                    &.active {
                        .sub-menu {
                            right: 100%;
                            li {
                                margin-right: 0;
                            }
                        }
                    }
                    &:not(.active) {
                        .sub-menu {
                            display: none;
                        }
                    }
                }
            }
        }
        .submenu-expand svg {
            transform: rotate(180deg);
        }
    }

    .search-input-wrapper {
        .search-field {
            padding-left: 0;
            padding-right: 95px;
        }
    }

    .pre-itens-header .sorting-method button.current {
        margin-right: 35px;
    }


    /* Search Page / Archive / Resource Page */
    &.search, &.archive {
        .has-post-thumbnail .post-thumbnail {
            margin: 0 0 0 2rem;

            @include mobile{
                margin-right: 0px;
            }            
        }
    }

    @include mobile{
        &.archive .main-search main#main article.has-post-thumbnail .post-thumbnail {
            margin-right: 0px;
        }
    }
   

    /* Sticky header */
    * .header.sticky .header--sticky .wrapper .right-content button.search i {
        padding-left: 0px;
        padding-right: 15px;
    }
}


 body.rtl{

     /* RTL - Search Mobile*/
     &.search {
            main#main article.has-post-thumbnail .post-thumbnail {
                @include mobile{
                    margin-right: 0px;
                }   
        }
    }

     /* RTL - Newsletter widget */
     @include desktop{
        .newsletter.horizontal .newsletter-section-header .left {
            margin-right: 0px;
            margin-left: 30px;
        }
     }

      /*Logo in RTL*/
    .header--main>.wrapper .right-content a.logo .logo-text span{
        &:first-child {
            font-size: 1.5rem;
            line-height: normal;
        }

        &:last-child {
            display: none;
        }

    }

    @include mobile{
        span.logo-title {
            display: none;
        }
    }
}
