h1.is-style-heading-lineheight-no-bold,
h2.is-style-heading-lineheight-no-bold,
h3.is-style-heading-lineheight-no-bold,
h4.is-style-heading-lineheight-no-bold,
h5.is-style-heading-lineheight-no-bold,
h6.is-style-heading-lineheight-no-bold {
    font-weight: normal !important;
    line-height: 30px;
}


h1.is-style-heading-letter-spacing--4,
h2.is-style-heading-letter-spacing--4,
h3.is-style-heading-letter-spacing--4,
h4.is-style-heading-letter-spacing--4,
h5.is-style-heading-letter-spacing--4,
h6.is-style-heading-letter-spacing--4 {
    letter-spacing: 4px;
}



h1.is-style-heading-letter-spacing--8,
h2.is-style-heading-letter-spacing--8,
h3.is-style-heading-letter-spacing--8,
h4.is-style-heading-letter-spacing--8,
h5.is-style-heading-letter-spacing--8,
h6.is-style-heading-letter-spacing--8 {
    letter-spacing: 8px;
}



h1.is-style-heading-letter-spacing--12,
h2.is-style-heading-letter-spacing--12,
h3.is-style-heading-letter-spacing--12,
h4.is-style-heading-letter-spacing--12,
h5.is-style-heading-letter-spacing--12,
h6.is-style-heading-letter-spacing--12 {
    letter-spacing: 12px;
}