.items-block__grid .block-editor-inner-blocks .item-component .block-editor-block-list__layout {
    grid-template-columns: auto;
}
.items-block__grid .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
}

.items-block__grid .item-component {
    background: #dbdfe42e;
    border-radius: 10px;
    padding: 10px;
}

.items-block h2.rich-text.block-editor-rich-text__editable.gallery-title {
    border-top: 5px solid var(--secondary);
    padding-top: 19px;
    text-align: center;
}

.items-block .item-component [aria-label~="Item"] {
    max-width: 300px;
}