@charset "UTF-8";
/*!
Newspack Scott Editor Styles
*/
/** === Includes === */
/** === Includes === */
/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/** === Editor Frame === */
body {
  background-color: #fff;
}

/** === Content Width === */
.wp-block {
  max-width: 810px;
}

/** === Base Typography === */
body {
  font-size: 20px;
  font-family: georgia, garamond, "Times New Roman", serif;
  line-height: 1.6;
  color: #111;
}

p {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #111;
  text-decoration: none;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #111;
}

h1 {
  font-size: 1.8em;
}

@media only screen and (min-width: 782px) {
  h1 {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 1.4em;
}

@media only screen and (min-width: 782px) {
  h2 {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}

a {
  transition: color 110ms ease-in-out;
  color: #555;
}

a:hover, a:active {
  color: #3c3c3c;
  outline: 0;
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: underline;
}

table td,
table th {
  font-family: georgia, garamond, "Times New Roman", serif;
  font-size: 0.8em;
}

figcaption,
.gallery-caption,
.wp-caption-text {
  color: #767676;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.6em;
  line-height: 1.6;
  margin: 0 auto 0.5rem;
  max-width: 780px;
}

/** === Post Title === */
.editor-post-title__block {
  font-size: 20px;
}

.editor-post-title__block .editor-post-title__input {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (min-width: 1168px) {
  .editor-post-title__block .editor-post-title__input {
    font-size: 2.8em;
  }
}

/** === Post Meta === */
.entry-meta {
  color: #767676;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.entry-meta a {
  color: #36f;
  font-weight: bold;
  text-decoration: none;
}

.cat-links {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/** === Default Appender === */
.editor-default-block-appender .editor-default-block-appender__content {
  font-family: georgia, garamond, "Times New Roman", serif;
  font-size: 20px;
}

/** === Heading === */
.wp-block-heading strong {
  font-weight: bolder;
}

/** === Paragraph === */
.has-drop-cap:not(:focus)::first-letter {
  font-size: 4em;
  line-height: 0.75;
  margin: 0.125em 0.75rem 0 0;
  position: relative;
}

/** === Newspack Carousel === */
.wp-block-newspack-blocks-carousel h3 a,
.wp-block-newspack-blocks-carousel h3 a:visited {
  color: #fff;
}

/** === Table === */
.wp-block-table {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-table td,
.wp-block-table th {
  border-color: #767676;
}

/** === Cover === */
.wp-block-cover .accent-header,
.wp-block-cover .article-section-title {
  color: inherit;
}

.wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
}

.wp-block-cover a,
.wp-block-cover a:visited,
.wp-block-cover .entry-meta,
.wp-block-cover .entry-meta a,
.wp-block-cover .entry-meta a:visited,
.wp-block-cover .entry-meta .byline a,
.wp-block-cover .entry-meta .byline a:visited {
  color: inherit;
}

.wp-block-cover h2 {
  max-width: 100%;
  padding-left: 0;
}

@media only screen and (min-width: 782px) {
  .wp-block-cover {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover {
  min-height: 250px;
  padding: calc( 1.375 * 1rem);
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover,
  .wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover {
    max-width: 400px;
  }
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover p,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover p {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover,
  .wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover {
    padding: calc( 2 * 1rem);
  }
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover .wp-block-cover__inner-container,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover .wp-block-cover__inner-container {
  width: 450px;
  max-width: 100%;
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover .block-editor-block-list__block-edit,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover .block-editor-block-list__block-edit {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover [class*='wp-block-']:first-child,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover [class*='wp-block-']:first-child {
  margin-top: 0;
}

.wp-block[data-type='core/cover'][data-align='left'] .wp-block-cover [class*='wp-block-']:last-child,
.wp-block[data-type='core/cover'][data-align='right'] .wp-block-cover [class*='wp-block-']:last-child {
  margin-bottom: 0;
}

.wp-block-columns .wp-block-cover,
.wp-block-columns .wp-block-cover-image {
  min-height: 330px;
  padding-left: 0;
  padding-right: 0;
}

.wp-block-columns .wp-block-cover__inner-container {
  width: 100%;
}

/** === Columns === */
@media only screen and (min-width: 782px) {
  .wp-block-columns.is-style-borders [data-type='core/column'] {
    flex-basis: calc( 50% - 32px);
  }
  .wp-block-columns.is-style-borders [data-type='core/column']:not(:first-child) {
    margin-left: 64px;
  }
  .wp-block-columns.is-style-borders [data-type='core/column']::after {
    right: -32px;
  }
}

/** === Image === */
.wp-block-image figcaption {
  margin-top: 0;
  text-align: left;
}

.wp-block[data-type='core/image'][data-align='left'].wp-block .block-editor-block-list__block-edit,
.wp-block[data-type='core/image'][data-align='right'].wp-block
.block-editor-block-list__block-edit {
  max-width: 50%;
}

.wp-block[data-type='core/image'][data-align='left'].wp-block .block-editor-block-list__block-edit .wp-block-image,
.wp-block[data-type='core/image'][data-align='right'].wp-block
.block-editor-block-list__block-edit .wp-block-image {
  table-layout: fixed;
  max-width: 100%;
}

.wp-block[data-type='core/image'][data-align='left'].wp-block .block-editor-block-list__block-edit .wp-block-image > div > div,
.wp-block[data-type='core/image'][data-align='right'].wp-block
.block-editor-block-list__block-edit .wp-block-image > div > div {
  max-width: 100%;
  width: 100% !important;
}

/** === Gallery === */
.wp-block-gallery figcaption {
  margin-bottom: 0;
}

/** === Audio & Video === */
.wp-block-audio figcaption,
.wp-block-video figcaption {
  text-align: left;
}

/** === Group === */
.wp-block[data-align='left'] .wp-block-group,
.wp-block[data-align='right'] .wp-block-group {
  max-width: 50%;
}

/** === Button === */
.wp-block-button__link {
  border-radius: 5px;
  line-height: 1.8;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.wp-block-button__link:not(.has-background) {
  background: #555;
}

.wp-block-button__link:not(.has-text-color) {
  color: #fff;
}

.is-style-outline .wp-block-button__link:not(.has-background),
.wp-block-button__link.is-style-outline:not(.has-background) {
  background: transparent;
}

.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color) {
  color: #555;
}

/** === Blockquote === */
.wp-block-quote:not(.is-large):not(.is-style-large) {
  border-width: 2px;
  border-color: #555;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-size: 1.4em;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote .wp-block-quote__citation {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  line-height: 1.6;
  color: #767676;
}

/** === Pullquote === */
.wp-block-pullquote {
  border-color: transparent;
  border-width: 4px 0 2px;
  color: #000;
  padding: 1rem 0;
  text-align: left;
}

.wp-block-pullquote blockquote {
  margin: 1.5rem 0;
}

.wp-block-pullquote.is-style-solid-color {
  padding: 1rem 3rem 1.25rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
  width: 100%;
}

.wp-block-pullquote.is-style-solid-color blockquote a,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color p,
.wp-block-pullquote.is-style-solid-color blockquote.has-text-color a {
  color: inherit;
}

.wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
  background-color: #555;
}

.wp-block[data-type='core/pullquote'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'] p {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/pullquote'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
  .wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text p,
  .wp-block[data-type='core/pullquote'] p {
    font-size: 1.4em;
  }
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote__citation {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  line-height: 1.6;
  text-transform: none;
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote__citation::before {
  content: '\2014';
  margin-right: 0.25rem;
}

.wp-block[data-type='core/pullquote'] em {
  font-style: normal;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .is-block-content,
.wp-block[data-type='core/pullquote'][data-align='right'] .is-block-content {
  max-width: 50%;
  width: 50%;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote,
  .wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote {
    border-bottom: 0;
  }
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote:not(.is-style-solid-color),
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote.is-style-solid-color,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote.is-style-solid-color {
  padding: 1rem 2rem;
}

.wp-block[data-type='core/pullquote'][data-align='left'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'][data-align='left'] blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'][data-align='left'] p,
.wp-block[data-type='core/pullquote'][data-align='right'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'][data-align='right'] blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'][data-align='right'] p {
  font-size: 1rem;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/pullquote'][data-align='left'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
  .wp-block[data-type='core/pullquote'][data-align='left'] blockquote > .editor-rich-text p,
  .wp-block[data-type='core/pullquote'][data-align='left'] p,
  .wp-block[data-type='core/pullquote'][data-align='right'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
  .wp-block[data-type='core/pullquote'][data-align='right'] blockquote > .editor-rich-text p,
  .wp-block[data-type='core/pullquote'][data-align='right'] p {
    font-size: 1.2em;
  }
}

.wp-block[data-type='core/pullquote'][data-align='full'] .wp-block-pullquote {
  padding-left: 1rem;
  padding-right: 1rem;
}

/** === File === */
.wp-block-file {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
  color: #555;
}

.wp-block-file .wp-block-file__textlink:hover {
  color: #3c3c3c;
  text-decoration: none;
}

.wp-block-file .wp-block-file__button {
  display: table;
  line-height: 1.8;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #555;
  border-radius: 5px;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: block;
  margin-top: calc( 0.75 * 1rem);
  margin-left: 0;
}

/** === Verse === */
.wp-block-verse,
.wp-block-verse pre {
  font-style: italic;
  padding: 0;
}

/** === Code === */
.wp-block-code {
  border-radius: 0;
}

/** === Separator === */
.wp-block-separator:not(.is-style-dots) {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: transparent;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-separator.is-style-dots::before {
  color: #767676;
  font-size: 1.4em;
  letter-spacing: calc( 2 * 1rem);
  padding-left: calc( 2 * 1rem);
}

/** === Latest Posts, Archives, Categories === */
ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
  padding: 0;
  list-style-type: none;
}

ul.wp-block-archives ul,
.wp-block-categories ul,
.wp-block-latest-posts ul {
  padding: 0;
  list-style-type: none;
}

ul.wp-block-archives li,
.wp-block-categories li,
.wp-block-latest-posts li {
  padding-bottom: 0.75rem;
}

ul.wp-block-archives li.menu-item-has-children, ul.wp-block-archives li:last-child,
.wp-block-categories li.menu-item-has-children,
.wp-block-categories li:last-child,
.wp-block-latest-posts li.menu-item-has-children,
.wp-block-latest-posts li:last-child {
  padding-bottom: 0;
}

ul.wp-block-archives li a,
.wp-block-categories li a,
.wp-block-latest-posts li a {
  text-decoration: none;
}

ul.wp-block-archives li ul,
.wp-block-categories li ul,
.wp-block-latest-posts li ul {
  padding-left: 1rem;
}

ul.wp-block-archives li,
.wp-block-categories li {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc( 20px * 1.125);
  font-weight: bold;
  line-height: 1.2;
}

.wp-block-categories ul {
  padding-top: 0.75rem;
}

.wp-block-categories ul ul {
  counter-reset: submenu;
}

.wp-block-categories ul ul > li > a::before {
  font-family: georgia, garamond, "Times New Roman", serif;
  font-weight: normal;
  content: "– " counters(submenu, "– ", none);
  counter-increment: submenu;
}

.wp-block-categories li ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: -0.75rem;
}

/** === Latest Posts === */
.wp-block-latest-posts li > a {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc( 20px * 1.125);
  font-weight: bold;
  line-height: 1.2;
}

.wp-block-latest-posts time {
  color: #767676;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-latest-posts .wp-block-latest-posts__post-excerpt {
  font-size: 0.8em;
}

.wp-block-latest-posts.is-grid li {
  border-top: 2px solid #ccc;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.wp-block-latest-posts.is-grid li a::after {
  content: '';
}

.wp-block-latest-posts.is-grid li:last-child {
  margin-bottom: auto;
}

.wp-block-latest-posts.is-grid li:last-child a::after {
  content: '';
}

/** === Latest Comments === */
.wp-block-latest-comments {
  margin-left: 0;
  padding-left: 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment {
  font-size: 0.8em;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta a,
.wp-block-latest-comments .wp-block-latest-comments__comment-meta a:visited {
  color: #111;
  text-decoration: none;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  color: #767676;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0.5rem 0;
}

.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  font-size: 1.05em;
  margin: 0;
}

/** === Jetpack Blocks === */
.jp-relatedposts-i2 a {
  color: #111;
}

.jp-relatedposts-i2 a,
.jp-relatedposts-i2 strong {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.jp-relatedposts-i2 .jp-related-posts-i2__post-date,
.jp-relatedposts-i2 .jp-related-posts-i2__post-context {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
}

.wp-block-jetpack-mailchimp .block-editor-rich-text__editable {
  font-size: 0.8em;
}

/** === Organic Profile Block === */
.wp-block-organic-profile-block {
  box-shadow: none;
}

.wp-block-organic-profile-block .organic-profile-image {
  align-items: center;
  background: none !important;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .wp-block-organic-profile-block .organic-profile-image {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.wp-block-organic-profile-block .organic-profile-image.image-active {
  max-width: 100%;
}

.wp-block-organic-profile-block .organic-profile-image button.image-button {
  border-radius: 0;
  height: auto;
}

.wp-block-organic-profile-block .organic-profile-image button.image-button img {
  display: block;
  margin: 0;
  opacity: 1;
}

.wp-block-organic-profile-block .organic-profile-content {
  padding: 0;
  width: 100%;
}

.wp-block-organic-profile-block .organic-profile-content h5 {
  color: #767676;
}

.wp-block-organic-profile-block .organic-profile-social .social-link {
  border: 0;
  color: #767676;
  cursor: default;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  pointer-events: none;
  text-align: center;
  width: 32px;
}

.wp-block-organic-profile-block .organic-profile-social .social-link:active, .wp-block-organic-profile-block .organic-profile-social .social-link:focus, .wp-block-organic-profile-block .organic-profile-social .social-link:hover {
  color: inherit;
}

/** === Classic Editor === */
/* Properly center-align captions in the classic-editor block */
.wp-caption dd {
  color: #767676;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  line-height: 1.6;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
}

.wp-block-freeform {
  /* Add style for galleries in classic-editor block */
}

.wp-block-freeform blockquote {
  border-left: 2px solid #555;
}

.wp-block-freeform blockquote cite {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  font-style: normal;
  line-height: 1.6;
  color: #767676;
}

/** === Post Subtitle === */
#newspack-post-subtitle-element {
  font-style: italic;
}

/** === Custom Colors === */
.has-primary-background-color,
.is-style-outline .wp-block-button__link.has-primary-background-color,
.wp-block-button__link.is-style-outline.has-primary-background-color {
  background-color: #36f;
}

.has-primary-variation-background-color,
.is-style-outline .wp-block-button__link.has-primary-variation-background-color,
.wp-block-button__link.is-style-outline.has-primary-variation-background-color {
  background-color: #2240d5;
}

.has-secondary-background-color,
.is-style-outline .wp-block-button__link.has-secondary-background-color,
.wp-block-button__link.is-style-outline.has-secondary-background-color {
  background-color: #555;
}

.has-secondary-variation-background-color,
.is-style-outline .wp-block-button__link.has-secondary-variation-background-color,
.wp-block-button__link.is-style-outline.has-secondary-variation-background-color {
  background-color: #3c3c3c;
}

.has-dark-gray-background-color,
.is-style-outline .wp-block-button__link.has-dark-gray-background-color,
.wp-block-button__link.is-style-outline.has-dark-gray-background-color {
  background-color: #111;
}

.has-medium-gray-background-color,
.is-style-outline .wp-block-button__link.has-medium-gray-background-color,
.wp-block-button__link.is-style-outline.has-medium-gray-background-color {
  background-color: #767676;
}

.has-light-gray-background-color,
.is-style-outline .wp-block-button__link.has-light-gray-background-color,
.wp-block-button__link.is-style-outline.has-light-gray-background-color {
  background-color: #eee;
}

.has-white-background-color,
.is-style-outline .wp-block-button__link.has-white-background-color,
.wp-block-button__link.is-style-outline.has-white-background-color {
  background-color: #fff;
}

.has-primary-color,
.is-style-outline .wp-block-button__link.has-primary-color,
.wp-block-button__link.is-style-outline.has-primary-color {
  color: #36f;
}

.has-primary-variation-color,
.is-style-outline .wp-block-button__link.has-primary-variation-color,
.wp-block-button__link.is-style-outline.has-primary-variation-color {
  color: #2240d5;
}

.has-secondary-color,
.is-style-outline .wp-block-button__link.has-secondary-color,
.wp-block-button__link.is-style-outline.has-secondary-color {
  color: #555;
}

.has-secondary-variation-color,
.is-style-outline .wp-block-button__link.has-secondary-variation-color,
.wp-block-button__link.is-style-outline.has-secondary-variation-color {
  color: #3c3c3c;
}

.has-dark-gray-color,
.is-style-outline .wp-block-button__link.has-dark-gray-color,
.wp-block-button__link.is-style-outline.has-dark-gray-color {
  color: #111;
}

.has-medium-gray-color,
.is-style-outline .wp-block-button__link.has-medium-gray-color,
.wp-block-button__link.is-style-outline.has-medium-gray-color {
  color: #767676;
}

.has-light-gray-color,
.is-style-outline .wp-block-button__link.has-light-gray-color,
.wp-block-button__link.is-style-outline.has-light-gray-color {
  color: #eee;
}

.has-white-color,
.is-style-outline .wp-block-button__link.has-white-color,
.wp-block-button__link.is-style-outline.has-white-color {
  color: #fff;
}

.accent-header,
.article-section-title {
  color: #666;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
}

.accent-header::before,
.article-section-title::before {
  background-color: #36f;
  content: '';
  display: inline-block;
  height: 0.75em;
  margin: 0 0.75em 0 0;
  position: relative;
  width: 0.75em;
  top: 3px;
}

.entry-meta .byline a {
  color: #767676;
}

/* Avatar */
.avatar {
  border-radius: 0;
}

/** === Paragraph === */
.has-drop-cap:not(:focus)::first-letter {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.wp-block-newspack-blocks-carousel .entry-meta .byline a {
  color: inherit;
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote {
  border-width: 0;
  padding-top: 3rem;
  position: relative;
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote .block-library-pullquote__content {
  position: relative;
  z-index: 1;
}

.wp-block[data-type='core/pullquote'] blockquote {
  border-color: inherit;
  margin: 2rem 0;
  text-align: center;
}

.wp-block[data-type='core/pullquote'] blockquote::before, .wp-block[data-type='core/pullquote'] blockquote::after {
  border-top: 2px solid;
  border-top-color: inherit;
  content: '';
  display: block;
  position: absolute;
  opacity: 0.8;
  top: 2rem;
}

.wp-block[data-type='core/pullquote'] blockquote::before {
  left: 15%;
  right: calc( 50% + 2em);
}

.wp-block[data-type='core/pullquote'] blockquote::after {
  left: calc( 50% + 2em);
  right: 15%;
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote.is-style-solid-color blockquote::before,
.wp-block[data-type='core/pullquote'] .wp-block-pullquote.is-style-solid-color blockquote::after {
  border-top-color: currentColor;
}

.wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text__editable:first-child::before {
  color: #36f;
  content: '\201C';
  display: inline-block;
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc( 1rem * 6);
  font-style: italic;
  font-weight: normal;
  left: calc( 50% - 0.3em);
  line-height: 0.75;
  position: absolute;
  text-align: center;
  top: 0.2em;
  width: 0.5em;
  z-index: 1;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text__editable:first-child::before {
    font-size: calc( 1rem * 8);
  }
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote.is-style-solid-color
blockquote
> .editor-rich-text__editable:first-child::before {
  color: inherit;
}

.wp-block[data-type='core/pullquote'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'] p {
  font-family: "Fira Sans Condensed", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

@media only screen and (min-width: 782px) {
  .wp-block[data-type='core/pullquote'] blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
  .wp-block[data-type='core/pullquote'] blockquote > .editor-rich-text p,
  .wp-block[data-type='core/pullquote'] p {
    font-size: 1.8em;
  }
}

.wp-block[data-type='core/pullquote'] .wp-block-pullquote__citation {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote {
  border-width: 0;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote {
  padding-top: 3.5rem;
  text-align: left;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote::before,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote::before {
  left: 3em;
  right: 0;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote::after,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote::after {
  display: none;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote > .editor-rich-text__editable:first-child::before,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote > .editor-rich-text__editable:first-child::before {
  font-size: calc( 1rem * 6);
  left: 0;
  text-align: left;
  top: 0.3em;
  width: 0.5em;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote.is-style-solid-color blockquote,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote.is-style-solid-color blockquote {
  padding-top: 0.25rem;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote.is-style-solid-color blockquote::before,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote.is-style-solid-color blockquote::before {
  left: 5rem;
  right: 2rem;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text__editable:first-child::before,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text__editable:first-child::before {
  left: 1.5rem;
}

.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'][data-align='left'] .wp-block-pullquote p,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote
> .block-library-pullquote__content
.editor-rich-text__tinymce[data-is-empty='true']::before,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote blockquote > .editor-rich-text p,
.wp-block[data-type='core/pullquote'][data-align='right'] .wp-block-pullquote p {
  font-size: 1.2em;
}
