.items-block {
    border-top: 5px solid var(--secondary);
    font-family: var(--primary-font);
    padding: 30px;

    a {
        .wp-block-column p {
            font-weight: normal;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        font-weight: bold;
        margin-bottom: 40px;
        color: var(--secondary);
    }

    .see-more {
        border-top: 1px solid rgba(11,11,7, 0.5);

        p {
            margin-top: 0;
            color: #0B0B07;
            text-align: center;
            font-size: 1rem;
            font-family: var(--special-heading-font);
            opacity: 0.5;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        align-items: flex-start;

        @include mobile {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }

    
    
    .item-component{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        
        .wp-block-column {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            flex: 0 0 calc(66% - 20px);
            
            @include mobile{
                flex: auto;
            }
            
            h1, h2, h3, h4, h5, h6 {
                text-transform: none;
                color: black;
                text-align: center;
                margin-top: 0;
                font-weight: bold;
                margin-bottom: 10px;
                font-size: size(20);
            }

            p {
                margin-top: 0;
                margin-bottom: 0;
                color: #0A0A0A;
                font-size: size(16);
                letter-spacing: 0;
                line-height: size(22);
                margin-bottom: size(40);
            }
        }

        figure  {
            position: relative;
            width: 90%;
            padding-top: 90%;
            overflow: hidden;
            margin-bottom: size(20);
            place-self: center;

            figcaption {
                display: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}



.dark-theme {
    .items-block {

        h1, h2, h3, h4, h5, h6 {
            color: white !important;
        }
    }
}