.link-dropdown {
    .section > * {
        margin: auto 0;
    }

    .controls {
        display: flex;
        flex-direction: row;

        .arrow-icon {
            display: none;
            margin: auto size(10);
            margin-left: auto;

                @include mobile {
                    display: block;
                }
        }

        .dropdown-title {
            font-size: size(18);
            color: var(--secondary);
            font-family: var(--special-heading-font);
        }
    }

    .sections {
        border-top: size(1) solid #DDDDDD;

        .section {
            display: flex;
            flex-direction: row;
            margin-top: size(20);
            margin-left: size(10);

            a {
                text-decoration: none;
                font-weight: bold;
                font-family: var(--special-heading-font);
                font-size: size(16);
                color: #191E23 !important;

                &:hover {
                    font-size: size(16);
                    color: #555D66 !important;
                }
            }
        }
    }

    .sections.saved-block {
        @include mobile {
            height: 0;
            overflow: hidden;
            opacity: 0;
        }
    }
}

.dark-theme{
    .link-dropdown .section a {
        color: white !important;
        opacity: 0.6;
    }
}