.category-most-read {
    margin-bottom: 30px;

    background-color: #F5F5F5;

    .most-read-header {
        color: var(--secondary);
        border-top: 5px solid var(--secondary);
        font-family: var(--special-heading-font);

        p {
            font-size: size(20);
            text-transform: uppercase;
            padding: 20px 30px;
            text-align: center;
            margin: 0px;
            letter-spacing: 4px;
            line-height: 19px;
            font-weight: bold;
        }
    }

    .posts {
        padding: 10px;

        p {
            font-size: size(16);
        }



        .post {
            display: flex;
            flex-direction: row;

            img {
                height: size(100);
                object-fit: cover;
            }

            .entry-container {
                padding-left: size(10);

                .post-title {
                    font-weight: bold;
                    margin-bottom: 0px;
                    font-size: size(18);
                    letter-spacing: 0;
                    line-height: 23px;
                    color: #0A0A0A;
                    font-family: var(--special-heading-font);
                }

                .cat-links a {
                    color: var(--secondary);
                }
            }

            &:not(:first-child) {
                margin-top: 30px;
            }

            &:last-child {
                margin-bottom: 30px;
            }

            &:last-of-type {
                p.post-author {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/* Dark mode */
.dark-theme {
    .category-most-read {
        background: #23282D;

        .posts {

            .post {
                .post-link, .entry-container {

                    .post-title {
                        color: #f5f5f5;
                    }

                    .post-author {
                        color: white;
                    }

                }
            }
        }
    }
}

/*RTL*/
.rtl {
    .category-most-read .posts .post .entry-container {
        padding-left: 0rem;
        padding-right: .625rem;
    }
}