.page {
    .newsletter.horizontal {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*newsletter in block*/
.newsletter-wrapper .newsletter {
    margin-bottom: 0px;

    &.horizontal {
        margin-top: 0px;
    }
}

.newsletter {
    padding: 29px;
    color: white;
    background-color: var(--secondary);
    align-items: center;
    margin-bottom: 30px;
    font-family: var(--primary-font);

    input[type='email'] {
        background: transparent;
        color: white;
        font-family: var(--special-heading-font);
        font-size: size(20);
        
        &::placeholder {
            color: white;
            opacity: 0.6;
        }
    }

    @include mobile {
        .anchor-text {
            margin-bottom: 0;
        }
    }

    .mc4wp-form-fields {
        & > div {
            border: 2px solid white;
            border-radius: 10px;
            margin-bottom: 5px;
            max-width: 100%;

        }

        p {
            font-size: size(14);
            color: #555D66;
            text-align: right;

            a {
                color: var(--primary)
            }

            a:hover {
                font-weight: bold;
            }
        }
    }

/* --- NEWSLETTER HORIZONTAL ---*/
    &.horizontal {
        /* display: grid;
        grid-template-columns: repeat(2, 50%); */
        padding: 35px 113px;
        margin-top: 90px;

        @include tablet {
            padding: 30px;
            grid-template-columns: auto;
            line-height: normal;
            text-align: center;
            margin: 60px 0px;
        }

        .newsletter-section-header{

            @include desktop {
                display: flex;
                margin: auto;
                width: 340px;
                flex-direction: row-reverse;
                align-items: center;
    
                .left {
                    text-align: right;
                    margin-right: 30px;
                }

            }
        }

        > div {
            /*display: flex;
            justify-content: center;
            flex-direction: column;*/

            svg {
                @include tablet {
                    place-self: center;
                }

                width: size(40);
                height: size(40);
                margin-bottom: 20px;
            }

            form {
                @include mobile {
                    margin-top: 30px;
                }

                button {
                    color:var(--secondary);
                    width: size(133);
                    background-color: white;
                    font-size: size(20);
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    line-height: 1.5;
                    border-color: white;
    
                    @include tablet {
                        width: 77px;
                        height: 100%;
    
                        span:first-child {
                            display: none;
                        }
                    }
    
                    /* label in button*/
                    .mc4wp__btn-label {
                        display: block;
    
                        @include tablet {
                            display: none;
                        }
    
                    }
    
                    .mc4wp__btn-icon {
                        display: none;
                        color: var(--secondary);
                        font-size: size(14);
    
                        @include tablet {
                            display: block;
                        }
                    }
                }
            }

            p {
                &.link {
                    text-align: right;
                    margin-bottom: 0;
                }

                &.anchor-text {
                    color: white;
                    font-family: var(--special-heading-font);
                    font-size: size(20);
                    margin: 0px 0px 20px;
                    a {
                        color: var(--primary);
                    }
                }
            }
        }

        .input-div {
            align-self: flex-end;
        }
    }

/* --- NEWSLETTER VERTICAL ---*/
    &.vertical {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include mobile {
            display: block;
        }

        /* Plugin SendInBlue */
        input.sib-email-area {
            width: 100% !important;
        }

        .sib_loader img {
            width: auto;
        }

        svg {
            place-self: center;
            width: size(60);
            height: size(60);
            margin: 0px 20px;

            path {
                fill: white;
            }
        }

        .newsletter-header p {
            color: white;
            text-align: center;
            line-height: 40px;
            margin: 0px;
            letter-spacing: 8px;
            font-size: size(26);
        }

        .anchor-text {
            font-family: var(--special-heading-font);
            color: white;
            margin-bottom: 30px;
            font-size: size(20);
            margin-top: 0px;
        }

        form {
            button {
                color: var(--secondary);
                background-color: white;
                font-size: size(20);
                border-top-left-radius: 0;
                line-height: 1.5;
                border-bottom-left-radius: 0;
                border-color: white;

                @include tablet {
                    width: 77px;
                    height: 100%;

                    span:first-child {
                        display: none;
                    }
                }

                /* label in button*/
                .mc4wp__btn-label {
                    display: block;

                    @include tablet {
                        display: none;
                    }

                }

                .mc4wp__btn-icon {
                    display: none;
                    color: var(--secondary);
                    font-size: size(14);

                    @include tablet {
                        display: block;
                    }
                }
            }


        }

        p {

            &.last-edition {
                margin-top: 0px;
            }
        }
    }

    .mc4wp-response {
        padding: 0x;

        p {
            font-size: size(14);
            line-height: normal;
            margin: 0px;
            text-align: center;
        }
    }

    .newsletter-header p {
        font-weight: bold;
        text-transform: capitalize;
        margin: 0px;
        letter-spacing: 8px;
        font-size: size(26);
    }


    .anchor-text {
        color: white;
    }

    form {
        input {
            width: calc(100% - 77px) !important;
            background-color: unset;
            border: none;

        }

        input:focus {
            outline: none;
        }

        button {
            background-color: var(--secondary);
            border-top-left-radius: initial;
            border-bottom-left-radius: initial;
            border-color: var(--secondary);
            padding: 8px;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    p {
        &.link {
            font-size: size(14);
            color: #555D66;
            text-align: center;

            a {
                color: var(--primary);
                font-weight: bold;
            }

            a:hover {
                font-weight: bold;
            }
        }

        &.link-add{
            font-size: size(14);
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            a {
                color: var(--primary);
            }
        }
    }
}
/*--*/

.dark-theme  {
    .newsletter {

        .anchor-text {
            color: white;
        }

        p.link {
            color: white;
        }
    }

}

.block-newsletter .newsletter.horizontal {
    padding: 30px 50px;

    @include mobile{
        padding: 20px;
    }

   .newsletter-header p {
       font-size: size(26);
   }
}

/* Plugin SendInBlue */
.sib_signup_form {
    .input-group {
        border: 2px solid #fff;
        border-radius: 10px;
        margin-bottom: 5px;
        max-width: 100%;
     }
}
 