.pictures-slider {

    @include desktop {
        margin-left: calc( 50% - 50vw);
        margin-right: calc( 50% - 50vw);
        max-width: 100vw;
    }

    p {
        padding: 0 .625rem;
    }

    margin-bottom: 30px;

    .slider-row {
        width: 100%;

        @include desktop {
            width: 1200px;
            margin: auto;
            max-width: 90%;
        }
    }

    button.expand-icon {
        display: flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 0.625rem;
        right: 0.625rem;
        z-index: 1;
        color: white;
        font-size: 21px;
        background: none;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        cursor: pointer;
    }

    .pictures {
        .close-button {
            display: none;
        }

        &.active {
            position: fixed;
            left: 0;
            top: 0;
            max-width: 100%;
            z-index: 999999;
            background: #0B0B07;

            .expand-icon {
                display: none;
            }

            .close-button {
                display: block;
                position: fixed;
                right: 15px;
                top: 15px;
                color: white;
                z-index: 999;
                background: transparent;
                padding: 0px;
                font-size: 20px;
            }

            .slider {
                display: flex!important;
                align-items: center;

                .image-bg {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }

            @include tablet {
                .single-item-collection--attachments-next, .single-item-collection--attachments-prev{
                    display: none!important;
                }
            }

            .slider > .slider-row {
                display: none;
            }
        }
    }
    
    .section-title {
        color: #EB2F06;
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 8px;
        line-height: 39px;
        text-align: center;
        border-top: 5px solid #EB2F06;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 60px;
        padding-top: 26px;
    }

    .slick-arrow {
        background-color: rgba(255,255,255,0.3);
        border-radius: 50%;
        width: 50px;
        min-width: 31px;
        height: 50px;
        background-size: initial;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -15px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        background-size: 50px;

        @include tablet {
            top: 60%;
        }

        &.single-item-collection--attachments-prev {
            left: 25px;

            @include mobile{
                left: 10px;
            }
        }
    
        &.single-item-collection--attachments-next {
            right: 25px;
            @include mobile{
                right: 10px;
            }
        }
    }

    .image-bg {
        background: #0B0B07;
        position: relative;
    }
    .slider {
        img {
            left: 0;
            height: 100%;
            width: -webkit-fill-available;
            width: -moz-available;
            position: absolute;
            top: 0;
            object-fit: cover;
        }

        .bg-black {
            @include desktop {
                max-width: 83.33333%;
            }
        }

        .image-cut {
            position: relative;
            padding-top: 56.25%!important;
            height: 0;
            overflow: hidden;
            min-width: 100%;
            display: flex;
            justify-content: center;
        }

        .info {
            .location, .author, .author-text {
                display: flex;
            }

            p {
                margin: 0;
            }

            margin-bottom: 35px;
        }

        .counter {
            opacity: 0.5;
            color: #0B0B07;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 44px;

        }

        .legend {
            color: #EB2F06;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 8px;
            line-height: 39px;
            text-align: center;
            text-transform: uppercase;
            margin: 30px 0;
        }

        .info {
            text-align: left;
            border-radius: 5px;
            background-color: #E7E8EA;
            padding: 28px 20px;
            color: #0B0B07;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 30px;

            > div {
                margin-bottom: 23px;

                i {
                    margin-right: 20px;
                    color: #26A17A;
                    font-size: 20px;
                    letter-spacing: 0;
                    line-height: 20px;
                    text-align: right;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

