.social-networks-widget {
    background-color: #F5F5F5;
    padding: 30px 50px;
    margin-bottom: 30px;

    &-header {
        color: #333333;

        h3 {
            font-size: size(26);
            font-weight: bold;
            letter-spacing: size(8);
            line-height: size(39);
            text-align: right;
            text-transform: uppercase;
            margin: 0px;
        }

        span {
            font-family: var(--special-heading-font);
            font-size: 20px;
            letter-spacing: 0;
            line-height: 30px;
            text-align: right;
            display: block;
            margin-bottom: 30px;
        }
    }

    &-content {
        .page--share {
            display: flex;
            justify-content: flex-end;

            & > div:not(:last-child), ul li:not(:last-child) {
                margin-right: 40px;
            }

            .social-links-menu li:nth-child(n + 2){
                margin-left: 0px;
            }

            // any other network
            & > div a, ul li a{
                background-color: #0E66AC;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: size(40);
                transition: all .2s ease-in-out;

                &:hover {
                    transition: all .2s ease-in-out;
                    transform: scale(1.1);
                    font-weight: normal;
                }

                svg {
                    width: 45px;
                    height: 45px;
                }
            }

            ul li{
                &:first-of-type{
                    a {
                        background-color: #4EA5EB;
                    }
                }
            }

            
            
            .twitter a {
                background-color: #4EA5EB;
            }

            .facebook a {
                background-color: #0E66AC;
            }
        }
    }
}